<!-- Bloque de contenido: Título-->
  <div class="col-cb-title" *ngIf="contentBlock && contentBlock.componentes">
    <div class="b-title-text" *ngFor="let component of contentBlock.componentes!; let index = index;">
      <div *ngIf="contentBlock.tipoBloqueComponentes">
        <jhi-visor-text
          [component]="component"
          [templateType]="contentBlock.tipoBloqueComponentes!"
          (updateComponent)="onUpdateComponent($event, index)">
        </jhi-visor-text>
      </div>
    </div>
  </div>
