@import '../../../../content/scss/variables.scss';

.col-cb-title {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    position: relative;
    width: auto;
    max-width: 800px;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 600;
    font-style: normal;
    color: $blue-nimbus-dark;
    text-align: center;
  }
}
