

<style>
    .imagen {
        width: 200px;
    }
</style>
<div class="container" style="margin-top: 50px; margin-bottom: 50px;border: black 1px solid;">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <img src="{{imgSrc}}" class="imagen" (click)="editImage()">
            </div>
            <div class="row">
                <div (click)="editText()">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem explicabo eos quis tempora dicta exercitationem, officia minus, assumenda dolor quod magni, velit ipsum sunt eaque nisi aut animi molestiae voluptate!
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <img src="{{imgSrc}}" class="imagen" (click)="editImage()">
            </div>
            <div class="row">
                <div (click)="editText()">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem explicabo eos quis tempora dicta exercitationem, officia minus, assumenda dolor quod magni, velit ipsum sunt eaque nisi aut animi molestiae voluptate!
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <img src="{{imgSrc}}" class="imagen" (click)="editImage()">
            </div>
            <div class="row">
                <div (click)="editText()">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem explicabo eos quis tempora dicta exercitationem, officia minus, assumenda dolor quod magni, velit ipsum sunt eaque nisi aut animi molestiae voluptate!
                </div>
            </div>
        </div>
    </div>
</div>
