<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-colaborador-heading" jhiTranslate="constructorApp.colaborador.home.createOrEditLabel">Create or edit a Colaborador</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="constructorApp.colaborador.nombres" for="field_nombres">Nombres</label>
                    <input type="text" class="form-control" name="nombres" id="field_nombres"
                           formControlName="nombres"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="constructorApp.colaborador.apellido1" for="field_apellido1">Apellido 1</label>
                    <input type="text" class="form-control" name="apellido1" id="field_apellido1"
                           formControlName="apellido1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="constructorApp.colaborador.apellido2" for="field_apellido2">Apellido 2</label>
                    <input type="text" class="form-control" name="apellido2" id="field_apellido2"
                           formControlName="apellido2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="constructorApp.colaborador.rolColaborador" for="field_rolColaborador">Rol Colaborador</label>
                    <select class="form-control" id="field_rolColaborador" name="rolColaborador" formControlName="rolColaborador">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rolColaboradorOption.id === editForm.get('rolColaborador')!.value?.id ? editForm.get('rolColaborador')!.value : rolColaboradorOption" *ngFor="let rolColaboradorOption of rolcolaboradors; trackBy: trackById">{{rolColaboradorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
