<div>
    <h2 id="page-heading">
        <span jhiTranslate="constructorApp.colaborador.home.title">Colaboradors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-colaborador" [routerLink]="['/colaborador/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="constructorApp.colaborador.home.createLabel">
            Create a new Colaborador
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="colaboradors?.length === 0">
        <span jhiTranslate="constructorApp.colaborador.home.notFound">No colaboradors found</span>
    </div>
    <div class="table-responsive" *ngIf="colaboradors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombres"><span jhiTranslate="constructorApp.colaborador.nombres">Nombres</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="apellido1"><span jhiTranslate="constructorApp.colaborador.apellido1">Apellido 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="apellido2"><span jhiTranslate="constructorApp.colaborador.apellido2">Apellido 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rolColaborador.id"><span jhiTranslate="constructorApp.colaborador.rolColaborador">Rol Colaborador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let colaborador of colaboradors ;trackBy: trackId">
                <td><a [routerLink]="['/colaborador', colaborador.id, 'view' ]">{{colaborador.id}}</a></td>
                <td>{{colaborador.nombres}}</td>
                <td>{{colaborador.apellido1}}</td>
                <td>{{colaborador.apellido2}}</td>
                <td>
                    <div *ngIf="colaborador.rolColaborador">
                        <a [routerLink]="['/rol-colaborador', colaborador.rolColaborador?.id, 'view' ]" >{{colaborador.rolColaborador?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/colaborador', colaborador.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/colaborador', colaborador.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(colaborador)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="colaboradors?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
