<div id="left-sidebar-grid">

  <div class="component-tool-header">
    <h4>Información</h4>
  </div>

  <div class="constructor-info-project">
    <div class="row-cip">
      <div class="col-cip1">
        <div class="cover-cip"></div>
      </div>
      <div class="col-cip2">
        <div class="c-name-project">Título del Libro</div>
        <div class="c-desc-project">Grado</div>
        <div class="c-status-project">Desarrollo</div>
      </div>

    </div>
  </div>

  <div class="component-tool-header">
    <h4 class="disabled-btn-th">Navegación</h4>
    <h4>Mesas de trabajo</h4>
  </div>

  <div class="constructor-filmstrip">
    <jhi-constructor-filmstrip></jhi-constructor-filmstrip>
  </div>

</div>
