$color-silver: #3a404c;
$tool-header: lighten($color-silver, 65%);

#left-sidebar-grid {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.component-tool-header {
  position: relative;
  width: 100%;
  height: 35px;
  background-color: $tool-header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h4 {
    position: relative;
    margin-left: 20px;
    font-size: 12px;
    cursor: default;

    &:nth-child(2) {
      margin-left: 30px;
    }
  }
}

.disabled-btn-th {
  opacity: 0.5;
}
.constructor-info-project {
  position: relative;
  width: 100%;
  height: 115px;
  top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .row-cip {
    position: relative;
    width: 88%;
    height: auto;
    min-height: 10px;
    display: flex;

    .col-cip1 {
      position: relative;
      width: 55%;
      height: auto;
    }
    .col-cip2 {
      position: relative;
      width: 45%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.cover-cip {
  position: relative;
  width: 120px;
  height: 80px;
  background-image: url('../../../content/images/cover_test5.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.01), 0 4px 28px rgba(0, 0, 0, 0.01);
}

.c-name-project {
  position: relative;
  width: 100%;
  height: 20px;
  font-size: 13px;
  color: #212442;
}
.c-desc-project {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 6px;
  font-size: 12px;
}
.c-status-project {
  position: relative;
  width: 70px;
  height: 20px;
  background-color: #1a3d82;
  margin-top: 4px;
  border-radius: 8px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.constructor-filmstrip {
  position: relative;
  width: 100%;
  height: calc(100vh - 285px);
  display: flex;
  flex-direction: column;
}
