@import '../../../content/scss/variables.scss';

#left-sidebar-grid {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: $color-sidebar;
}
