<form name="editForm" role="form" novalidate [formGroup]="editForm" class="form-window-configuration">
  <div class="row-form-window-c">

    <jhi-alert-error></jhi-alert-error>

    <!-- <h2 id="jhi-curso-heading" jhiTranslate="constructorApp.curso.home.createOrEditLabel">Create or edit a Curso</h2> -->

    <!-- Campos que no son obligatorios o se llenan de la base de datos - Inicia -->
    <div style="display: none;">
        <div class="form-group" [hidden]="!editForm.get('id')!.value">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" formControlName="id"
                readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="constructorApp.curso.etapaEditorial" for="field_etapaEditorial">Etapa Editorial</label>
            <select class="form-control" name="etapaEditorial" formControlName="etapaEditorial" id="field_etapaEditorial">
                <option value="EDICION">{{'constructorApp.EtapaEditorial.EDICION' | translate}}</option>
                <option value="PUBLICADO">{{'constructorApp.EtapaEditorial.PUBLICADO' | translate}}</option>
                <option value="OTRO">{{'constructorApp.EtapaEditorial.OTRO' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="constructorApp.curso.fechaCreacionSys" for="field_fechaCreacionSys">Fecha Creacion Sys</label>
            <div class="input-group">
                <input id="field_fechaCreacionSys" type="text" class="form-control" name="fechaCreacionSys" ngbDatepicker  #fechaCreacionSysDp="ngbDatepicker" formControlName="fechaCreacionSys"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaCreacionSysDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="constructorApp.curso.fechaPublicacionSys" for="field_fechaPublicacionSys">Fecha Publicacion Sys</label>
            <div class="input-group">
                <input id="field_fechaPublicacionSys" type="text" class="form-control" name="fechaPublicacionSys" ngbDatepicker  #fechaPublicacionSysDp="ngbDatepicker" formControlName="fechaPublicacionSys"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fechaPublicacionSysDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="constructorApp.curso.estatus" for="field_estatus">Estatus</label>
            <input type="text" class="form-control" name="estatus" id="field_estatus"
                   formControlName="estatus"/>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control-label" jhiTranslate="constructorApp.curso.version" for="field_version">Version</label>
            <select class="form-control" id="field_version" name="version" formControlName="version">
                <option [ngValue]="null"></option>
                <option [ngValue]="versionOption.id === editForm.get('version')!.value?.id ? editForm.get('version')!.value : versionOption" *ngFor="let versionOption of versions; trackBy: trackById">{{versionOption.id}}</option>
            </select>
        </div>
    </div>
    <!-- Campos que no son obligatorios o se llenan de la base de datos - Termina -->

    <!-- Generales Inicia -->
    <div [hidden]="selectedTabIndex !== 0" class=" row-window-general">
      <div class="rwg-header">
        <h2 id="jhi-curso-heading" jhiTranslate="constructorApp.curso.home.createOrEditLabel">Create or edit a Curso</h2>
        <p>*Campo obligatorio</p>
      </div>
      <div class="row-wg margintop-25">
        <div class="col-window-g">
          <div class="form-nimbus">
              <!-- <label jhiTranslate="constructorApp.curso.titulo" for="field_titulo">Titulo</label> -->
              <label for="field_titulo">Titulo*</label>
              <input type="text" class="form-control" name="titulo" id="field_titulo"
                     formControlName="titulo"/>
          </div>

          <div class="form-nimbus margintop-25">
              <label jhiTranslate="constructorApp.curso.resumenContenido" for="field_resumenContenido">Resumen Contenido</label>
              <input type="text" class="form-control" name="resumenContenido" id="field_resumenContenido"
                     formControlName="resumenContenido"/>
          </div>
          <div class="form-nimbus margintop-25">
              <label jhiTranslate="constructorApp.curso.gradoAcademico" for="field_gradoAcademico">Grado Academico</label>
              <select id="field_gradoAcademico" name="gradoAcademico" (change)="changeGracoAcademico($event)">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="gradoAcademicoOption.id === editForm.get('gradoAcademico')!.value?.id ? editForm.get('gradoAcademico')!.value : gradoAcademicoOption" *ngFor="let gradoAcademicoOption of gradoAcademicos; trackBy: trackById">{{gradoAcademicoOption.descripcion}}</option>
              </select>
          </div>
        </div>

        <div class="col-window-g">
          <div class="form-nimbus">
              <label jhiTranslate="constructorApp.curso.asignatura" for="field_asignatura">Asignatura</label>
              <select id="field_asignatura" name="asignatura" formControlName="asignatura">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="asignaturaOption.id === editForm.get('asignatura')!.value?.id ? editForm.get('asignatura')!.value : asignaturaOption" *ngFor="let asignaturaOption of asignaturas; trackBy: trackById">{{asignaturaOption.descripcion}}</option>
              </select>
          </div>

          <div class="form-nimbus margintop-25">
              <label jhiTranslate="constructorApp.curso.descripcion" for="field_descripcion">Descripcion</label>
              <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                     formControlName="descripcion"/>
          </div>
          <div class="form-nimbus margintop-25">
              <label jhiTranslate="constructorApp.curso.numeroGrado" for="field_numeroGrado">Numero Grado</label>
              <select id="field_numeroGrado" name="numeroGrado" formControlName="numeroGrado">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="numeroGradoOption.id === editForm.get('numeroGrado')!.value?.id ? editForm.get('numeroGrado')!.value : numeroGradoOption" *ngFor="let numeroGradoOption of numerogrados; trackBy: trackById">{{numeroGradoOption.descripcion}}</option>
              </select>
          </div>

        </div>

        <div class="col-window-g">
          <div class="cover-upload-c">
              <label class="label-cover-c">Subir portada</label>

              <div class="cover-upload-img-row">

                <div class="cover-path-area">
                  <div *ngIf="coverPath !== ''">
                      <img [src]="coverPath" alt="" class="cover-upload-img">
                  </div>
                  <div *ngIf="coverPath === ''">
                      <div>
                            El libro no tiene portada
                      </div>
                  </div>
                </div>

                <div class="row-uic">

                  <input type="file" id="customFile" (change)="selectFile($event)">
                  <button (click)="deteleCover()">Eliminar portada</button>
                </div>
              </div>

              <div class="row-cover-upload-btn">
                <button [hidden]="!selectedFiles.length" [disabled]="admincheck || status" (click)="upload($event)" class="secondary-btn text-transform-none">Subir imagen</button>
              </div>

              <!-- <button class="btn btn-primary" [disabled]="!selectedFiles || admincheck || status" (click)="upload($event)">Subir video</button> -->
          </div>
        </div>

      </div>
      <!-- End row-wg -->
    </div>
    <!-- Generales Termina -->

    <!-- Avanzado Inicia -->
    <div [hidden]="selectedTabIndex !== 1" class="row-window-general">
      <div class="rwg-header">
        <h2 id="jhi-curso-heading" jhiTranslate="constructorApp.curso.home.createOrEditLabel">Create or edit a Curso</h2>
        <p>*Campo obligatorio</p>
      </div>
      <!-- Start row -->
      <div class="row-wg z-index-3 margintop-25">
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label class="form-control-label" jhiTranslate="constructorApp.curso.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
              <div class="input-group">
                  <input id="field_fechaCreacion" type="text" class="form-control" name="fechaCreacion" ngbDatepicker  #fechaCreacionDp="ngbDatepicker" formControlName="fechaCreacion"/>
                  <span class="input-group-append">
                      <button type="button" class="btn-calendar-select" (click)="fechaCreacionDp.toggle()"></button>
                  </span>
              </div>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label class="form-control-label" jhiTranslate="constructorApp.curso.fechaPublicacion" for="field_fechaPublicacion">Fecha Publicacion</label>
              <div class="input-group">
                  <input id="field_fechaPublicacion" type="text" class="form-control" name="fechaPublicacion" ngbDatepicker  #fechaPublicacionDp="ngbDatepicker" formControlName="fechaPublicacion"/>
                  <span class="input-group-append">
                      <button type="button" class="btn-calendar-select" (click)="fechaPublicacionDp.toggle()"></button>
                  </span>
              </div>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label jhiTranslate="constructorApp.curso.numeroEdicion" for="field_numeroEdicion">Numero Edicion</label>
              <input type="text" class="form-control" name="numeroEdicion" id="field_numeroEdicion"
                     formControlName="numeroEdicion"/>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <!-- Start row colaboradores -->
      <div class="row-colaboradores z-index-2">
        <jhi-ficha-update></jhi-ficha-update>
      </div>
      <!-- End row colaboradores -->

      <!-- Start row 2 -->
      <div class="row-wg margintop-25">
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label class="form-control-label" jhiTranslate="constructorApp.curso.modoDistribucion" for="field_modoDistribucion">Modo Distribucion</label>
              <select class="form-control" name="modoDistribucion" formControlName="modoDistribucion" id="field_modoDistribucion">
                  <option value="PAGO">{{'constructorApp.ModoDistribucion.PAGO' | translate}}</option>
                  <option value="GRATUITO">{{'constructorApp.ModoDistribucion.GRATUITO' | translate}}</option>
                  <option value="LIBRE">{{'constructorApp.ModoDistribucion.LIBRE' | translate}}</option>
              </select>
          </div>
        </div>
        <!-- End col   -->
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label class="form-control-label" jhiTranslate="constructorApp.curso.modalidad" for="field_modalidad">Modalidad</label>
              <select class="form-control" id="field_modalidad" name="modalidad" formControlName="modalidad">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="modalidadOption.id === editForm.get('modalidad')!.value?.id ? editForm.get('modalidad')!.value : modalidadOption" *ngFor="let modalidadOption of modalidads; trackBy: trackById">{{modalidadOption.descripcion}}</option>
              </select>
          </div>
        </div>
        <!-- End col   -->
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label class="form-control-label" jhiTranslate="constructorApp.curso.categoria" for="field_categoria">Categoria</label>
              <select class="form-control" id="field_categoria" name="categoria" formControlName="categoria">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="categoriaOption.id === editForm.get('categoria')!.value?.id ? editForm.get('categoria')!.value : categoriaOption" *ngFor="let categoriaOption of categorias; trackBy: trackById">{{categoriaOption.descripcion}}</option>
              </select>
          </div>
        </div>
        <!-- End col   -->
      </div>
      <!-- End row   -->
      <!-- Start row 3 -->
      <div class="row-wg margintop-25 z-index-1">
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label class="form-control-label" jhiTranslate="constructorApp.curso.versionStr" for="field_versionStr">Version Str</label>
              <input type="text" class="form-control" name="versionStr" id="field_versionStr"
                     formControlName="versionStr"/>
          </div>
        </div>
        <!-- End col   -->
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label class="form-control-label" jhiTranslate="constructorApp.curso.palabraClave" for="field_palabraClave">Palabra Clave</label>
              <input type="text" class="form-control" name="palabraClave" id="field_palabraClave"
                     formControlName="palabraClave"/>
          </div>
        </div>
        <!-- End col   -->
        <!-- Start col -->
        <div class="col-window-g">
          <div class="form-nimbus">
              <label class="form-control-label" jhiTranslate="constructorApp.curso.clave" for="field_clave">Clave</label>
              <input type="text" class="form-control" name="clave" id="field_clave"
                     formControlName="clave"/>
          </div>
        </div>
        <!-- End col   -->
      </div>
      <!-- End row   -->

    </div>
    <!-- Avanzado Termina -->

  </div>
</form>
