<div class="container-home-test">

  <div class="c-conf-constructor">

    <div class="header-c-c-c">
      <div class="ccc-bar">
        <div class="ccc-title">Configuración</div>
        <div class="ccc-close" routerLink="/"></div>
      </div>

      <div class="ccc-menu">

        <div class="col-ccc">

          <div *ngFor="let tab of tabs; let index = index;" (click)="changeSelectedIndex(index);">
            <div class="ccc-element" [ngClass]="{'active-ccc-element': index === selectedTabIndex}">
              <div class="c-icon" [ngClass]="tab.iconClass"></div>
              <div class="c-title">{{tab.title}}</div>
            </div>
          </div>

        </div>
        <div class="mark-element-ccc" style="transition-duration:0.5s" [style.transform]="'translateX(' + ((15 * (this.selectedTabIndex + 1)) + (this.selectedTabIndex * 95)) + 'px)'"></div>
      </div>
    </div>

    <div class="body-c-c-c">
      <jhi-curso-update></jhi-curso-update>
    </div>

    <div class="footer-c-c-c">
      <div class="button-next-new" (click)="saveCourse()">
        Guardar
      </div>
      <div class="button-next-new" routerLink="../constructor-layout">
        Siguiente
      </div>
    </div>
  </div>
</div>
