@import '../../content/scss/variables.scss';

.window-course-configuration {
  position: relative;
  width: 92%;
  max-width: 1150px;
  height: 700px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;

  .window-cc-header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: $window-header-color;
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $window-divider-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .cc-header-topbar {
      position: relative;
      width: 100%;
      height: 40px;
      background-color: $window-header-color;
      border-radius: 4px 4px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .cch-title {
        position: relative;
        width: auto;
        height: auto;
        font-size: 15px;
      }
      .cch-close {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 7px;
        right: 15px;
        cursor: pointer;
        border-radius: 4px;
        background-image: url('../../content/images/close_icn.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
        background-color: rgba(16, 18, 51, 0);
        transition: 0.4s;

        &:hover {
          background-color: rgba(16, 18, 51, 0.1);
        }
      }
    }
    .cc-header-menu {
      position: relative;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      .cch-menu-row {
        position: relative;
        width: 98%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .ccc-element {
          position: relative;
          width: 80px;
          height: 60px;
          margin-left: 15px;
          margin-right: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.4s;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          .icon {
            position: relative;
            font-size: 22px;
          }
          .c-title {
            position: relative;
            width: 100%;
            height: 20px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-weight: 600;
            color: $blue-nimbus-dark;
          }
        }

        .active-ccc-element {
          opacity: 1;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}

.meenu-course-mark {
  position: absolute;
  width: 80px;
  height: 2px;
  left: 12px;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  background: $blue-nimbus-light;
}
.alert-menu-conf {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10px;
  right: 22px;
  border-radius: 50%;
  background-color: $alert-color;
  background-image: url('../../content/images/alert_menu_icn2.svg');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  z-index: 2;
}

// Window Body
.window-cc-body {
  position: relative;
  width: 100%;
  height: 525px;
  background-color: $window-body-color;
  overflow-y: auto;
}

// Footer
.window-cc-footer {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: $window-footer-color;
  border-top: 1px solid $window-divider-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 6px 6px;

  button {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-height: 800px) {
  .window-course-configuration {
    height: 700px;
    top: 50%;
    margin-top: -350px;
  }
}
