<div id="visor-container-grid">

  <!-- Alerts -->
  <div class="alert-visor">
    <jhi-alert-error></jhi-alert-error>
  </div>
  <div class="visor-component-artboard" [ngClass]="{'v-desktop': visorSize === 'desktop','v-tablet': visorSize === 'tablet','v-smartphone': visorSize === 'smartphone'}">
    <div class="artboard-delete">
      <i class="icon ni-delete icon-negative"></i>
    </div>
    <div class="artboard-name"><span>Name</span></div>

    <div class="row-visor-container">

      <div *ngIf="!contentBlocks.length" class="row-add-content">
        <button class="main-btn" (click)="addNewBlock()">
          <i class="icon ni-add"></i>
          Agregar bloque de contenido
        </button>
      </div>

      <div class="col-jhi-block" *ngFor="let block of contentBlocks; let index = index;">
        <div (click)="selectBlock(index)" [ngClass]="{'selected-block': selectedBlock === index}" class="row-content-block">

          <div *ngIf="block.bloqueComponentes.tipoBloqueComponentes.nombre == 'titulo'">
            <jhi-content-block1 [contentBlock]="block" (updateBlock)="onUpdateBlock($event, index)"></jhi-content-block1>
          </div>
          <div *ngIf="block.bloqueComponentes.tipoBloqueComponentes.nombre == 'texto'">
            <jhi-content-block2 [contentBlock]="block" (updateBlock)="onUpdateBlock($event, index)"></jhi-content-block2>
          </div>
          <div *ngIf="block.bloqueComponentes.tipoBloqueComponentes.nombre == 'imagen'">
            <jhi-content-block3 [contentBlock]="block" (updateBlock)="onUpdateBlock($event, index)"></jhi-content-block3>
          </div>
          <div *ngIf="block.bloqueComponentes.tipoBloqueComponentes.nombre == 'imagen_texto'">
            <jhi-content-block4 [contentBlock]="block" (updateBlock)="onUpdateBlock($event, index)"></jhi-content-block4>
          </div>
          <div *ngIf="block.bloqueComponentes.tipoBloqueComponentes.nombre == 'video'">
            <jhi-content-block5 [contentBlock]="block" (updateBlock)="onUpdateBlock($event, index)"></jhi-content-block5>
          </div>

        </div>
        <!-- Add content -->
        <div *ngIf="selectedBlock === index" class="row-add-content">
          <button class="main-btn" (click)="addNewBlock()">
            <i class="icon ni-add"></i>
            Agregar bloque de contenido
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
