<div id="visor-container-grid">
  <!-- <div class="visor-space-up"></div> -->
  <div class="visor-component-artboard">
    <div class="artboard-delete"><div class="abd-icon"></div></div>
    <div class="artboard-name"><span>Name</span></div>
    <div class="row-visor-container">
      <jhi-content-block1></jhi-content-block1>
      <jhi-content-block2></jhi-content-block2>
      <jhi-content-block3></jhi-content-block3>
      <jhi-content-block4></jhi-content-block4>
    </div>
  </div>
  <!-- <div class="visor-space-down"></div> -->
</div>
