@import '../../../content/scss/variables.scss';

#visor-container-grid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $background-workspace;
  overflow-y: scroll;
  padding-top: 35px;
  padding-bottom: 30px;
}
.visor-component-artboard {
  position: relative;
  width: 94%;
  height: auto;
  min-height: 40px;
  background-color: $color-workspace;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.12);
  padding: 12px;
  margin: 0 auto;
  border-radius: 6px 0 6px 6px;

  .artboard-delete {
    position: absolute;
    right: 0px;
    top: -24px;
    width: 35px;
    height: 24px;
    background-color: $main-btn-color;
    border-radius: 10px 10px 0 0;
    z-index: 2;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      cursor: default;
      opacity: 0.6;
    }
  }
  .artboard-name {
    position: absolute;
    right: 26px;
    top: -24px;
    width: auto;
    min-width: 70px;
    height: 24px;
    font-size: 14px;
    background-color: $main-btn-color-hover;
    border-radius: 10px 0px 0 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;

    span {
      position: relative;
      width: auto;
      height: auto;
      font-size: 13px;
      color: white;
      text-align: left;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.row-visor-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $window-divider-color;
  padding: 10px;

  .col-jhi-block {
    position: relative;
    width: 100%;
    height: auto;
  }
}

// Scroll
#visor-container-grid:-webkit-scrollbar {
  width: 14px; /* Tamaño del scroll en vertical */
  height: 10px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
#visor-container-grid::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
#visor-container-grid::-webkit-scrollbar-thumb:hover {
  // background: #b3b3b3;
  // box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
#visor-container-grid::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 1);
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
#visor-container-grid::-webkit-scrollbar-track {
  // background: rgba(26, 61, 130, 0.2);
  border-radius: 0px;
  border-left: 1px solid rgba(26, 61, 130, 0.2);
}

/* Cambiamos el fondo cuando esté en active o hover */
#visor-container-grid::-webkit-scrollbar-track:hover,
#visor-container-grid::-webkit-scrollbar-track:active {
  // background: #d4d4d4;
}
// Visor
.row-content-block {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px dashed $border-component;
  padding: 20px;
  transition: 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover {
    border: 1px solid $border-component-hover;
  }
}
.selected-block {
  border: 1px solid $border-component-selected;
  &:hover {
    border: 1px solid $border-component-selected;
  }
}
.selected-block::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 15px;
  height: 40px;
  background-color: $blue-nimbus-dark;
  right: 0px;
  top: 50%;
  margin-top: -20px;
  border-radius: 10px 0 0 10px;
}
.row-add-content {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed silver;

  button {
    .icon {
      margin-right: 6px;
      color: white;
      font-size: 22px;
    }
  }
}

.v-smartphone {
  width: 480px;
}

.v-tablet {
  width: 800px;
}

.v-desktop {
  max-width: 1400px;
}
