
<div id="visor-container-grid">
  <div class="visor-space-up"></div>
  <div class="visor-component-artboard">
    <div class="artboard-delete"></div>
    <div class="artboard-name"><span>Mesa 1</span></div>

    <!-- <div class="m1-space">
      <div class="icn-m1-s"></div>
      <p>Selecciona una plantilla <br> para comenzar.</p>
    </div> -->

    <!--
    <div *ngFor="let contentBlock of contentBlocks; let index = index;">
      <jhi-content-block1></jhi-content-block1>
    </div>
    -->

    <div>
      <jhi-content-block1></jhi-content-block1>
      <jhi-content-block2></jhi-content-block2>
      <jhi-content-block3></jhi-content-block3>
      <jhi-content-block4></jhi-content-block4>
    </div>

  </div>
  <div class="visor-space-down"></div>
</div>
