@import '../../../content/scss/variables.scss';

.hierarchical-c-component {
  position: relative;
  width: 100%;
  // height: calc(100vh - 400px);
  height: 160px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-bottom: 1px solid $border-component;
}
.c-component-title {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: $tool-header;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  .cct-link {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      margin-left: 4px;
    }
    p {
      position: relative;
      width: auto;
      height: auto;
      font-size: 12px;
      cursor: default;
    }
  }
  .ni-menudots {
    position: absolute;
    right: 5px;
    top: 4px;
  }
}
.c-component-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  top: 30px;
  left: 0;
  overflow-y: auto;
  padding-bottom: 10px;
  .row-c-component-c {
    position: relative;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 6px;
  }
}

.hierarchical-element {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 25px;
  display: flex;
  flex-direction: column;
}
.hier-header {
  position: relative;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  .icon {
    color: $icon-hier;
  }

  p {
    width: auto;
    height: auto;
    font-size: 10px;
    margin-left: 5px;
  }
  .he-icon-menu {
    position: absolute;
    right: 0px;
  }
}

.hier-second-level {
  padding-left: 10px;
}
.hier-third-level {
  padding-left: 20px;
}
.hier-third-level {
  .ni-doc {
    margin-left: 20px;
  }
}
.hier-active-icon {
  color: $blue-nimbus-dark !important;
}
.hier-active {
  background-color: $btn-white-hover;
  border-left: 3px solid $blue-nimbus-light;
}
