<div class="hierarchical-c-component">
  <div class="c-component-title">
    <div class="cct-link">
      <i class="icon ni-arrow"></i>
      <p>Estructura jerárquica</p>
    </div>
    <i class="icon ni-menudots"></i>
  </div>
  <div class="c-component-content">
    <div class="row-c-component-c">
      <!-- Level 1 -->
      <div class="hierarchical-element">
        <div class="hier-header">
          <i class="icon ni-arrow"></i>
          <i class="icon ni-folder hier-active-icon"></i>
          <p>N1 Título 1</p>
          <i class="icon ni-menudots he-icon-menu"></i>
        </div>
        <!-- Level 2 -->
        <div class="hier-header hier-second-level">
          <i class="icon ni-arrow"></i>
          <i class="icon ni-folder hier-active-icon"></i>
          <p>N2 Título 1</p>
          <i class="icon ni-menudots he-icon-menu"></i>
        </div>
        <!-- Level 3 -->
        <div class="hier-header hier-third-level hier-active">
          <i class="icon ni-doc hier-active-icon"></i>
          <p>N3 Título 1</p>
          <i class="icon ni-menudots he-icon-menu"></i>
        </div>
        <!-- Level 3 -->
        <div class="hier-header hier-third-level">
          <i class="icon ni-doc"></i>
          <p>N3 Título 2</p>
          <i class="icon ni-menudots he-icon-menu"></i>
        </div>
        <!-- Level 2 -->
        <div class="hier-header hier-second-level">
          <i class="icon ni-arrowright"></i>
          <i class="icon ni-folder"></i>
          <p>N2 Título 2</p>
          <i class="icon ni-menudots he-icon-menu"></i>
        </div>
      </div>
      <!-- Level 1  -->
      <div class="hierarchical-element">
        <div class="hier-header">
          <i class="icon ni-arrowright"></i>
          <i class="icon ni-folder"></i>
          <p>N1 Título 2</p>
          <i class="icon ni-menudots he-icon-menu"></i>
        </div>
      </div>
      <!-- Level 1 -->
      <div class="hierarchical-element">
        <div class="hier-header">
          <i class="icon ni-arrowright"></i>
          <i class="icon ni-folder"></i>
          <p>N1 Título 3</p>
          <i class="icon ni-menudots he-icon-menu"></i>
        </div>
      </div>

    </div>
  </div>
</div>
