// Vaiables
// $darkblue: darken($blue, 10%);
// MIXIN
@mixin smartphone {
  @media (min-width: 0px) and (max-width: 700px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 700px) and (max-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 900px) and (max-width: 1280px) {
    @content;
  }
}

/* Book */
.row-book {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-book {
  position: relative;
  width: 94%;
  max-width: 1200px;
  height: auto;
}
.cb-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  @include smartphone {
    flex-direction: column;
  }

  .text-area {
    position: relative;
    width: 50%;
    height: auto;
    min-height: 10px;
    @include smartphone {
      width: 100%;
    }
  }
  .img-area {
    position: relative;
    width: 50%;
    height: auto;
    min-height: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include smartphone {
      width: 100%;
    }

    img {
      position: relative;
      width: 90%;
      max-width: 500px;
      height: auto;
      @include smartphone {
        width: 100%;
      }
    }
  }
}
