<!-- Bloque de contenido: Texto-->
  <div class="col-cb-text" *ngIf="contentBlock && contentBlock.componentes">
      <div class="b-paragraph-text" *ngFor="let component of contentBlock.componentes!; let index = index;">
        <div *ngIf="contentBlock && contentBlock.tipoBloqueComponentes">
          <jhi-visor-text
            [component]="component"
            [templateType]="contentBlock.tipoBloqueComponentes"
            (updateComponent)="onUpdateComponent($event, index)">
          </jhi-visor-text>
        </div>
      </div>
  </div>
