@import '../../../../content/scss/variables.scss';

.row-content-block {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid $bordercolor-block;
}
.col-cb-img {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: relative;
    width: 80%;
    max-width: 900px;
    height: auto;
  }
}
.tt {
  position: relative;
  width: 100%;
  height: auto;
}
