@import '../../../content/scss/variables.scss';

.properties-c-component {
  position: relative;
  width: 100%;
  // height: calc(100vh - 405px);
  height: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  // border-bottom: 1px solid $border-component;
}
.c-component-title {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: $tool-header;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  .cct-link {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      margin-left: 4px;
    }
    p {
      position: relative;
      width: auto;
      height: auto;
      font-size: 12px;
      cursor: default;
    }
  }
  .ni-menudots {
    position: absolute;
    right: 5px;
    top: 4px;
  }
}
.c-component-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  top: 30px;
  left: 0;
  overflow-y: auto;

  .row-c-component-c {
    position: relative;
    width: 88%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
