
<div class="properties-c-component">

  <!-- Header -->

  <div class="c-component-title">
    <div class="cct-link">
      <i class="icon ni-arrow"></i>
      <p>Propiedades</p>
    </div>
    <i class="icon ni-menudots"></i>
  </div>

  <!-- End Header -->

  <div class="c-component-content">
    <div class="row-c-component-c">

      <!-- Subir archivo -->
        <div class="cover-upload-c">
          <h6>Subir imagen</h6>

            <div class="row-up-image-area">
              <div *ngIf="fileFormat === 'image'">
                Imagen
                <img [src]="defaultImageUrl" alt="" class="cover-upload-img" *ngIf="imgSrc === ''">
                <img [src]="imgSrc" alt="" class="cover-upload-img" *ngIf="imgSrc !== ''">
              </div>
              <div *ngIf="fileFormat === 'video'">
                Video
                <img [src]="defaultVideoUrl" alt="" *ngIf="videoSrc === ''">
                <video [src]="videoSrc" height="200" controls *ngIf="videoSrc !== ''"></video>
              </div>
            </div>

            <div class="row-sidebar-up-image-btn">
              <button (click)="deleteImage()" class="secondary-btn text-transform-none" *ngIf="this.imgSrc !== ''">Eliminar imagen</button>
              <button type="button" class="main-btn" (click)="fileInput.click()">
                  <span>Subir</span>
                  <input #fileInput type="file" (change)="selectFile($event)" style="display:none;" />
              </button>
            </div>

        </div>
      <!-- Subir archivo -->

    </div>
  </div>

</div>
