<div>
    <h2 id="page-heading">
        <span jhiTranslate="constructorApp.numeroGrado.home.title">Numero Grados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-numero-grado" [routerLink]="['/numero-grado/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="constructorApp.numeroGrado.home.createLabel">
            Create a new Numero Grado
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="numeroGrados?.length === 0">
        <span jhiTranslate="constructorApp.numeroGrado.home.notFound">No numeroGrados found</span>
    </div>
    <div class="table-responsive" *ngIf="numeroGrados?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="constructorApp.numeroGrado.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="gradoAcademico.id"><span jhiTranslate="constructorApp.numeroGrado.gradoAcademico">Grado Academico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let numeroGrado of numeroGrados ;trackBy: trackId">
                <td><a [routerLink]="['/numero-grado', numeroGrado.id, 'view' ]">{{numeroGrado.id}}</a></td>
                <td>{{numeroGrado.descripcion}}</td>
                <td>
                    <div *ngIf="numeroGrado.gradoAcademico">
                        <a [routerLink]="['/grado-academico', numeroGrado.gradoAcademico?.id, 'view' ]" >{{numeroGrado.gradoAcademico?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/numero-grado', numeroGrado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/numero-grado', numeroGrado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(numeroGrado)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="numeroGrados?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
