<div class="constructor-filmstrip">
  <div class="component-tool-header">
    <h4>Mesas de trabajo</h4>
    <div class="ctc-name-artboard"><p>Nombre de lección</p></div>
  </div>
  <div class="component-tool-content">
    <div class="row-ctc">

      <div class="row-artboard-filmstrip">
        <div class="artboard-mini ab-mini-1 ab-mini-select"></div>
        <div class="ab-mini-desc">
          <p>Mesa 1</p>
          <div class="delete-ab"><span></span><p>Eliminar</p></div>
        </div>
      </div>

      <div class="row-artboard-filmstrip">
        <div class="artboard-mini ab-mini-2"></div>
        <div class="ab-mini-desc">
          <p>Mesa 2</p>
          <div class="delete-ab"><span></span><p>Eliminar</p></div>
        </div>
      </div>

      <div class="row-artboard-filmstrip">
        <div class="artboard-mini ab-mini-3"></div>
        <div class="ab-mini-desc">
          <p>Mesa 3</p>
          <div class="delete-ab"><span></span><p>Eliminar</p></div>
        </div>
      </div>

      <div class="row-artboard-filmstrip">
        <div class="artboard-mini ab-mini-4"></div>
        <div class="ab-mini-desc">
          <p>Mesa 4</p>
          <div class="delete-ab"><span></span><p>Eliminar</p></div>
        </div>
      </div>

      <div class="row-artboard-filmstrip">
        <div class="artboard-mini ab-mini-new"></div>
        <div class="ab-mini-desc">
          <p>Crear</p>
          <!-- <div class="delete-ab"><span></span><p>Eliminar</p></div> -->
        </div>
      </div>


    </div>
  </div>


</div>
