
<div class="filmstrip-c-component">
  <!-- Header -->
  <div class="c-component-title">
    <div class="cct-link">
      <i class="icon ni-arrow"></i>
      <p>Tira de película</p>
    </div>
    <i class="icon ni-menudots"></i>
  </div>
  <!-- End Header -->
  <div class="c-component-content">
    <div class="row-c-component-c">

      <div class="row-artboard-filmstrip" *ngFor="let contentBlock of contentBlocks; let index = index">
        <div class="row-drag-ud"><div class="icon ni-drag"></div></div>
        <div
          class="artboard-mini"
          [ngClass]="{'ab-mini-select': selectedContentBlockIndex == index}"
          [style.backgroundImage]="'url(' + contentBlock.tipoBloqueComponentes.iconPath + ')'"
          (click)="selectContentBlock(index)">
        </div>
        <!-- <div class="artboard-mini ab-mini-1 ab-mini-select"></div> -->
        <div class="ab-mini-desc">
          <p>{{contentBlock.name}}</p>
          <div class="delete-ab" (click)="deleteContentBlock(index)">
            <i class="icon ni-delete"></i>
            <p>Eliminar</p>
          </div>
        </div>
      </div>

      <div class="row-artboard-filmstrip">
        <div class="row-drag-ud"></div>
        <div class="artboard-mini ab-mini-new" (click)="createContentBlock()"></div>
        <div class="ab-mini-desc">
          <p>Crear</p>
        </div>
      </div>

    </div>
  </div>
</div>
