@import '../../../content/scss/variables.scss';

.filmstrip-c-component {
  position: relative;
  width: 100%;
  height: calc(100vh - 460px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  // border-bottom: 1px solid $border-component;
}
@media (max-height: 600px) {
  .filmstrip-c-component {
    height: calc(100vh - 360px);
  }
}
.c-component-title {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: $tool-header;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  .cct-link {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      margin-left: 4px;
    }
    p {
      position: relative;
      width: auto;
      height: auto;
      font-size: 12px;
      cursor: default;
    }
  }
  .ni-menudots {
    position: absolute;
    right: 5px;
    top: 4px;
  }
}
.c-component-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  top: 30px;
  left: 0;
  overflow-y: auto;

  .row-c-component-c {
    position: relative;
    width: 88%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.row-artboard-filmstrip {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  border: 1px solid $window-divider-color;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

  .row-drag-ud {
    position: relative;
    width: 25px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .artboard-mini {
    position: relative;
    // width: 110px;
    // height: 75px;
    width: 100px;
    height: 70px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid rgb(213, 213, 213);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      border: 2px solid rgb(175, 175, 175);
    }
    &:hover + .ab-mini-desc p:nth-child(1) {
      color: #212342;
    }
  }
  .ab-mini-select {
    border: 2px solid #15a9fa !important;
  }
  .ab-mini-desc {
    position: relative;
    width: 90px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    p {
      font-size: 11px;
      position: relative;
      width: 100%;
      height: auto;
      cursor: pointer;
      transition: 0.4s;
      line-height: 16px;
    }
    .delete-ab {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;

      p {
        position: relative;
        width: auto;
        height: auto;
        font-size: 10px;
        font-weight: 600;
        margin-left: 4px;
        cursor: pointer;
        color: #212342;
      }
    }
  }
}

.ab-mini-1 {
  background-image: url('../../../content/images/ab1.png');
}
.ab-mini-2 {
  background-image: url('../../../content/images/ab2.png');
}
.ab-mini-3 {
  background-image: url('../../../content/images/ab3.png');
}
.ab-mini-4 {
  background-image: url('../../../content/images/ab4.png');
}
.ab-mini-new {
  background-image: url('../../../content/images/icn_add_mini2.svg');
  background-size: 30%;
}
