<div class="constructor-f">

  <div class="ctc-name-artboard"><p>Nombre de lección</p></div>

  <div class="component-tool-content">
    <div class="row-ctc">

      <div class="row-artboard-filmstrip" *ngFor="let contentBlock of contentBlocks; let index = index">
        <!-- <div
          class="artboard-mini ab-mini-1"
          [ngClass]="{'ab-mini-select': selectedContentBlockIndex == index}"
          [style.backgroundImage]="'url(' + getContentBlockImage(contentBlock.contentBlockType) + ')'"
          (click)="selectContentBlock(index)">
        </div> -->
        <div class="artboard-mini ab-mini-1 ab-mini-select"></div>
        <div class="ab-mini-desc">
          <!-- <p>{{contentBlock.title}}</p> -->
          <p>Mesa 1</p>
          <div class="delete-ab" (click)="deleteContentBlock(contentBlock.id)"><span></span><p>Eliminar</p></div>
        </div>
      </div>

      <div class="row-artboard-filmstrip">
        <div class="artboard-mini ab-mini-new" (click)="createContentBlock()"></div>
        <div class="ab-mini-desc">
          <p>Crear</p>
          <!-- <div class="delete-ab"><span></span><p>Eliminar</p></div> -->
        </div>
      </div>


    </div>
  </div>


</div>
