@import '../../../content/scss/variables.scss';

.filmstrip-c-component {
  position: relative;
  width: 100%;
  height: calc(100vh - 405px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .c-component-title {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: $tool-header;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    p {
      position: relative;
      width: 100%;
      height: auto;
      font-size: 12px;
      cursor: default;
    }
  }

  .component-tool-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .row-ctc {
      position: relative;
      width: 86%;
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.row-artboard-filmstrip {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin-top: 20px;

  .artboard-mini {
    position: relative;
    width: 110px;
    height: 75px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid rgb(213, 213, 213);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      border: 2px solid rgb(175, 175, 175);
    }
    &:hover + .ab-mini-desc p:nth-child(1) {
      color: #212342;
    }
  }
  .ab-mini-select {
    border: 2px solid #15a9fa !important;
  }
  .ab-mini-desc {
    position: relative;
    width: 90px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-size: 11px;
      position: relative;
      width: 100%;
      height: auto;
      cursor: pointer;
      transition: 0.4s;
      line-height: 16px;
    }
    .delete-ab {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;

      p {
        position: relative;
        width: auto;
        height: auto;
        font-size: 10px;
        font-weight: 600;
        margin-left: 4px;
        cursor: pointer;
        color: #212342;
      }
    }
  }
}

.ab-mini-1 {
  background-image: url('../../../content/images/ab1.png');
}
.ab-mini-2 {
  background-image: url('../../../content/images/ab2.png');
}
.ab-mini-3 {
  background-image: url('../../../content/images/ab3.png');
}
.ab-mini-4 {
  background-image: url('../../../content/images/ab4.png');
}
.ab-mini-new {
  background-image: url('../../../content/images/icn_add_mini2.svg');
  background-size: 30%;
}
