@import '../../../content/scss/variables.scss';

.information-c-component {
  position: relative;
  width: 100%;
  // height: calc(100vh - 400px);
  height: 110px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-bottom: 1px solid $border-component;
}
.c-component-title {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: $tool-header;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
}
.cct-link {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .icon {
    margin-left: 4px;
  }
  p {
    position: relative;
    width: auto;
    height: auto;
    font-size: 12px;
    cursor: default;
  }
}
.ni-menudots {
  position: absolute;
  right: 5px;
  top: 4px;
}
.c-component-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  top: 30px;
  left: 0;

  .row-c-component-c {
    position: relative;
    width: 88%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .ic-row-cover {
      position: relative;
      width: 40%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 15px;
      .info-cover {
        position: relative;
        width: 76px;
        height: 50px;
        border-radius: 6px;
        background-image: url('../../../content/images/cover_upload.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    .ic-row-text {
      position: relative;
      width: 60%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      p {
        position: relative;
        width: auto;
        height: auto;
        font-size: 10px;

        line-height: 18px;
        &:nth-child(2) {
          font-size: 10px;
        }
      }
    }
  }
}
