<div class="information-c-component">
  <div class="c-component-title">
    <div class="cct-link">
      <i class="icon ni-arrow"></i>
      <p>Book Information</p>
    </div>
    <i class="icon ni-menudots"></i>
  </div>
  <div class="c-component-content">
    <div class="row-c-component-c">

      <div class="ic-row-cover">
        <img [src]="portadaUrl" *ngIf="portadaUrl" class="info-cover">
      </div>
      <div class="ic-row-text">
        <p *ngIf="course">{{course.titulo}}</p>
        <!--
        <p>Nombre de Autor</p>
        -->
      </div>

    </div>
  </div>
</div>
