
<!-- Header -->
<div class="header-curve">
  <div class="pattern-bg-hp"></div>
  <div class="bg-shapes-left-2"></div>
  <div class="bg-shapes-right"></div>
  <!-- <div class="header_hp_circle"></div> -->

  <div class="row-header-hp">
    <div class="col-rh-hp">
      <div class="logo_header_hp"></div>
    </div>
    <div class="col-rh-hp">
      <div class="img-heder_hp"></div>
    </div>
  </div>

</div>
<!-- End Header -->

<div class="header-svg-animated">
    <svg class="waves-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="animation-waves">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.3" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.2)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.1)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
</div>

<div class="header-gradient"></div>

<!-- Start content -->

<div class="row-title">
  <div class="col-title">
    <div class="title-two-levels">
      <h3>Lorem ipsum</h3>
      <h2>Lorem ipsum dolor sit amet</h2>
    </div>
  </div>
</div>

<div class="row-circles-hp">
  <div class="col-circles">
    <!-- row  1 -->
    <div class="item-cc-1">
      <div class="column-cc">
        <div class="circle-cc circle-cc1"></div>
        <h5>Lorem ipsum</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, error!</p>
      </div>
      <div class="column-cc">
        <div class="circle-cc circle-cc1"></div>
        <h5>Lorem ipsum</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, error!</p>
      </div>
      <div class="column-cc">
        <div class="circle-cc circle-cc1"></div>
        <h5>Lorem ipsum</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, error!</p>
      </div>

      <div class="column-cc">
        <div class="circle-cc circle-cc1"></div>
        <h5>Lorem ipsum</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, error!</p>
      </div>
      <div class="column-cc">
        <div class="circle-cc circle-cc1"></div>
        <h5>Lorem ipsum</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, error!</p>
      </div>
      <div class="column-cc">
        <div class="circle-cc circle-cc1"></div>
        <h5>Lorem ipsum</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, error!</p>
      </div>

    </div>

  </div>
</div>

<div class="row-hp-text-img bg-color-white">

  <svg xmlns="http://www.w3.org/2000/svg" class="svg-curve-row" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 2000 120" style="enable-background:new 0 0 2000 120;">
    <path class="st0" d="M0,0v77c551.1,100.3,915.2-2.2,1306-33.8c317.6-25.6,584.7,39,694,71.4V0H0z"/>
  </svg>

  <div class="col-curve">
    <div class="item-curv-1">
      <h2>Lorem ipsum dolor sit</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi neque ipsum perspiciatis omnis vero assumenda, id ut, hic beatae maxime eligendi non odio dolorem soluta perferendis alias labore repudiandae molestias.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quibusdam repudiandae reiciendis neque ratione delectus molestiae, ex corrupti ab exercitationem corporis illo animi odit. Atque quaerat aperiam fuga cum deleniti, nulla rerum impedit itaque asperiores!</p>
    </div>
    <div class="item-curv-2 justify-content-right">
      <div class="img img-hp-1"></div>
    </div>
  </div>

</div>

<div class="row-hp-text-img">

  <div class="col-curve cc-hp-second">

    <div class="item-curv-1 align-items-right">
      <h2>Lorem ipsum dolor sit</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi neque ipsum perspiciatis omnis vero assumenda, id ut, hic beatae maxime eligendi non odio dolorem soluta perferendis alias labore repudiandae molestias.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quibusdam repudiandae reiciendis neque ratione delectus molestiae, ex corrupti ab exercitationem corporis illo animi odit. Atque quaerat aperiam fuga cum deleniti, nulla rerum impedit itaque asperiores!</p>
    </div>
    <div class="item-curv-2">
      <div class="img img-hp-2"></div>
    </div>

  </div>

</div>

<div class="footer_hp">
  <div class="footer-gradient"></div>
</div>
