@import '../../content/scss/variables.scss';

p {
  font-size: 14px;
  @include smartphone {
    font-size: 12px;
    line-height: 22px;
  }
}
h2 {
  color: $blue-nimbus-dark;

  @include smartphone {
    font-size: 24px;
  }
}
h3 {
  color: $blue-nimbus-light;

  @include smartphone {
    font-size: 16px;
  }
}
h4 {
  font-size: 30px;
  color: $blue-nimbus;

  @include smartphone {
    font-size: 16px;
  }
}
h5 {
  color: $blue-nimbus;

  @include smartphone {
    font-size: 16px;
  }
}

// Header
.header-curve {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: $blue-nimbus-dark;
  background-image: url('../../content/images/home_pleca.png');
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @include smartphone {
    height: 500px;
  }
  .row-header-hp {
    position: relative;
    width: 90%;
    max-width: $max-width;
    height: auto;
    display: flex;
    flex-direction: row;

    .col-rh-hp {
      position: relative;
      width: 40%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(2) {
        width: 60%;
        justify-content: flex-end;
      }
    }
  }
}
.logo_header_hp {
  position: relative;
  width: 240px;
  height: 155px;
  background-image: url('../../content/images/logo_constructor.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  @include smartphone {
    width: 140px;
    height: 90px;
  }
}

.img-heder_hp {
  position: relative;
  width: 800px;
  height: 550px;
  background-image: url('../../content/images/img_header_hp.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  @include smartphone {
    width: 350px;
    height: 240px;
  }
}

.header-gradient {
  position: absolute;
  width: 100%;
  height: 200px;
  background: rgb(255, 255, 255);
  // background: linear-gradient(180deg, rgba(255,255,255,1) 43%, rgba(249,250,251,1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 43%, rgba(247, 248, 249, 0.5) 100%);
}
// Animated
.pattern-bg-hp {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../content/images/bg_dots.svg');
  background-repeat: repeat;
  background-size: 145px;
  top: 0;
  left: 0;
  opacity: 0.1;
  animation: motion-dots 5s ease-in-out infinite;
}

@keyframes motion-dots {
  0% {
    opacity: 0.02;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.02;
  }
}

.bg-shapes-left-2 {
  position: absolute;
  left: 60px;
  top: 120px;
  width: 400px;
  height: 355px;
  background-image: url('../../content/images/bg_hp_s_left.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  opacity: 1;
  animation: motion-circle 14s ease-in-out infinite;
}
@keyframes motion-circle {
  0% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}

.bg-shapes-right {
  position: absolute;
  right: 60px;
  top: 120px;
  width: 280px;
  height: 280px;
  background-image: url('../../content/images/bg_hp_s_right.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 1;
  animation: motion-circle2 14s ease-in-out infinite;
  @include smartphone {
    display: none;
  }
}
@keyframes motion-circle2 {
  0% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}

.header_hp_circle {
  position: absolute;
  bottom: 60px;
  right: 12%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(96, 125, 139, 0.1);
  animation: motion-circle3 20s ease-in-out infinite;
  @include smartphone {
    width: 200px;
    height: 200px;
    bottom: 0px;
    display: none;
  }
}
@keyframes motion-circle3 {
  0% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}

.header-svg-animated {
  position: relative;
  margin-top: -15vh;
  width: 100%;
  height: auto;
  z-index: 3;
  @include smartphone {
    margin-top: -70px;
  }
}
.waves-svg {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
  @include smartphone {
    height: 70px;
    min-height: 70px;
  }
}
/* Animation */
.animation-waves > use {
  animation: move-forever 50s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.animation-waves > use:nth-child(1) {
  animation-delay: -4s;
  animation-duration: 14s;
}
.animation-waves > use:nth-child(2) {
  animation-delay: -6s;
  animation-duration: 20s;
}
.animation-waves > use:nth-child(3) {
  animation-delay: -8s;
  animation-duration: 26s;
}
.animation-waves > use:nth-child(4) {
  animation-delay: -10s;
  animation-duration: 40s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

// Content
.row-title {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  z-index: 2;

  .col-title {
    position: relative;
    width: 98%;
    max-width: $max-width;
    height: auto;
    display: flex;
    justify-content: center;
  }
}

.title-two-levels {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  h2 {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 12px;
    @include smartphone {
    }
  }

  h3 {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
  }
}

// Circles
.row-circles-hp {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;

  .col-circles {
    position: relative;
    width: 98%;
    max-width: $max-width;
    height: auto;
    display: flex;
    flex-direction: column;

    .item-cc-1 {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
.column-cc {
  position: relative;
  width: 250px;
  min-height: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 40px;
  @include smartphone {
    width: 180px;
    min-height: 200px;
  }

  .circle-cc {
    position: relative;
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    @include smartphone {
      width: 70px;
      height: 70px;
    }
  }
  h5 {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .circle-cc1 {
    background-image: url('../../content/images/hp_icn1.svg');
  }
}

// Col text and image
.row-hp-text-img {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  z-index: 2;
  @include smartphone {
    padding-top: 20px;
  }

  .col-curve {
    position: relative;
    width: 90%;
    max-width: $max-width;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    @include smartphone {
      flex-direction: column;
      width: 86%;
      margin-top: 30px;
    }

    .item-curv-1 {
      position: relative;
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 1;
      @include smartphone {
        width: 100%;
        align-items: center !important;
      }
      h2 {
        position: relative;
        width: 70%;
        height: auto;
        margin-bottom: 30px;
        @include smartphone {
          width: 100%;
          text-align: center;
        }
      }
      p {
        position: relative;
        width: 70%;
        height: auto;
        @include smartphone {
          width: 100%;
        }
      }
    }
    .item-curv-2 {
      position: relative;
      width: 50%;
      height: auto;
      display: flex;
      align-items: center;
      order: 2;

      @include smartphone {
        width: 100%;
        justify-content: center !important;
        margin-top: 30px;
      }

      .img {
        position: relative;
        width: 500px;
        height: 440px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        @include smartphone {
          width: 340px;
          height: 300px;
        }
      }
    }
  }
}
.justify-content-right {
  justify-content: flex-end;
}
.align-items-right {
  align-items: flex-end;
}
.cc-hp-second > .item-curv-2 {
  order: 1 !important;
  @include smartphone {
    order: 2 !important;
  }
}
.cc-hp-second > .item-curv-1 {
  order: 2 !important;
  @include smartphone {
    order: 1 !important;
  }
}

.svg-curve-row {
  fill: $background-color-light;
  position: absolute;
  top: -1px;
  left: 0;
}
.bg-color-white {
  background-color: white;
}
.img-hp-1 {
  background-image: url('../../content/images/img_hp_1.png');
}
.img-hp-2 {
  background-image: url('../../content/images/img_hp_2.png');
}

// Footer
.footer-gradient {
  position: absolute;
  width: 100%;
  height: 200px;
  background: rgb(255, 255, 255);
  // background: linear-gradient(0deg, rgba(255,255,255,1) 43%, rgba(249,250,251,1) 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 43%, rgba(247, 248, 249, 0.5) 100%);
  top: -200px;
}

.footer_hp {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 60px;
  background-color: $footer-bg-color;
  z-index: 1;
}
