@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.navbar-menu {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid silver;

  .navbar-menu-item1 {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .row-nbm-i1 {
      position: relative;
      width: 96%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      .nb-logo {
        position: relative;
        width: 95px;
        height: 30px;
        margin-left: 10px;
        background-image: url('../../../content/images/logo_nb.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .name-project-navbar {
        position: relative;
        width: auto;
        height: auto;
        cursor: default;
      }
      .user-btn-navbar {
        position: relative;
        width: 32px;
        height: 32px;
        margin-right: 26px;
        border-radius: 100%;
        background-image: url('../../../content/images/usernb_icn.svg');
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
        background-color: #0059ff;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        &:hover {
          box-shadow: 0 6px 9px rgba(0, 0, 0, 0.13), 0 8px 12px rgba(0, 0, 0, 0.2);
        }

        .arrow-user {
          position: absolute;
          width: 10px;
          height: 5px;
          top: 14px;
          right: -14px;
          background-image: url('../../../content/images/arrow_user_icn.svg');
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .navbar-menu-item2 {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;

    .row-nbm-i2 {
      position: relative;
      width: 96%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .nbm-i2-set-1 {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      .nbm-i2-set-2 {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
.nb-icon-tool {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(60, 60, 60, 0);
  transition: 0.4s;

  &:hover {
    background-color: rgba(60, 60, 60, 0.1);
  }

  .nb-icon {
    position: relative;
    width: 30px;
    height: 25px;
    // background-color: red;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
  }
  .nb-text {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 11px;
    text-align: center;
  }
  .icon-bloques {
    background-image: url('../../../content/images/bloques_icn.svg');
  }
  .icon-text {
    background-image: url('../../../content/images/text_icn.svg');
  }
  .icon-picture {
    background-image: url('../../../content/images/picture_icn.svg');
  }
  .icon-media {
    background-image: url('../../../content/images/media_icn.svg');
  }
  .icon-desktop {
    background-image: url('../../../content/images/desktop_icn.svg');
  }
  .icon-preview {
    background-image: url('../../../content/images/preview_icn.svg');
  }
  .icon-upload {
    background-image: url('../../../content/images/upload_icn.svg');
  }
}
