.navbar {
  position: absolute !important;
  top: 10px;
  right: 110px;
  z-index: 20 !important;
  background-color: #0059ff !important;
  color: silver !important;
  border-radius: 10px !important;
  box-shadow: 0 14px 28px rgba(16, 18, 51, 0.25), 0 10px 10px rgba(16, 18, 51, 0.22) !important;
}
