@import '../../../content/scss/variables.scss';

.topbar-layout {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: $color-sidebar;
  display: flex;
  justify-content: center;

  .layout-tool-menu {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    top: 45px;
    border-bottom: 1px solid silver;

    .row-ltm {
      position: relative;
      width: 96%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .nbm-i2-set-1 {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      .nbm-i2-set-2 {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
.nb-icon-tool {
  position: relative;
  width: 50px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(60, 60, 60, 0);
  transition: 0.3s;
  border-radius: 6px;

  &:hover {
    background-color: rgba(60, 60, 60, 0.06);
  }
  .icon {
  }
  .nb-text {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 10px;
    text-align: center;
    color: #1a3d82;
  }
}

.layout-breadcrumbs {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -130px;
  width: 260px;
  height: 15px;
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue-nimbus-dark;
  }
}
