<nav class="topbar-layout">
    <div class="layout-tool-menu">
      <div class="row-ltm">

        <div class="nbm-i2-set-1">
          <div class="nb-icon-tool">
            <i class="icon ni-template"></i>
            <div class="nb-text">Plantillas</div>
          </div>
        </div>
        <div class="layout-breadcrumbs">
          <p>Título del proyecto / N1 / <strong>Lección 1</strong></p>
        </div>
        <div class="nbm-i2-set-2">
          <div class="nb-icon-tool">
            <i class="icon ni-desktop"></i>
            <div class="nb-text">Desktop</div>
          </div>
          <div class="nb-icon-tool">
            <i class="icon ni-view"></i>
            <div class="nb-text">Preview</div>
          </div>
          <div class="nb-icon-tool">
            <i class="icon ni-upload"></i>
            <div class="nb-text">Publicar</div>
          </div>
        </div>

      </div>
    </div>
</nav>
