<!-- Bloque de contenido: Texto con imagen-->
<div class="row-content-block">
  <div class="col-cb-text-img">
    <div class="cb4-row-text">
        <div class="b-paragraph-text" *ngFor="let component of contentBlock.componentes; let index = index;">
          <jhi-visor-text
            *ngIf="index == 0"
            [component]="component"
            [templateType]="contentBlock.tipoBloqueComponentes"
            (updateComponent)="onUpdateComponent($event, index)"></jhi-visor-text>
        </div>
    </div>
    <div class="cc-image">
      <img [src]="imgSrc" alt="">
    </div>
  </div>
</div>
