<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <!-- Component types -->
            <div>
                <jhi-constructor-component-types></jhi-constructor-component-types>
            </div>
            <!-- Filmstrip -->
            <div>
                <jhi-constructor-filmstrip></jhi-constructor-filmstrip>
            </div>
            <!-- Component subtypes -->
            <div>
                <jhi-constructor-component-subtypes></jhi-constructor-component-subtypes>
            </div>
            <!-- Visor container -->
            <div>
                <jhi-constructor-visor-container></jhi-constructor-visor-container>
            </div>
            <!-- Component container -->
            <div>
                <jhi-constructor-component-container></jhi-constructor-component-container>
            </div>
            <!-- Por definir -->
            <div>
                Lateral derecho por definir
            </div>
        </div>
    </div>
</div>
