<div class="container-home-test">

  <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'ROLE_USER'" class="c-home-constructor">

    <div class="header-c-h-c">
      <div class="r1">
        <div class="logo-create"></div>
      </div>
      <div class="r2">
        <div class="c1">
          <div class="button-hc"><div class="icon icn-support"></div>Soporte</div>
          <div class="button-hc"><div class="icon icn-tutto"></div>Tutorial</div>
        </div>
      </div>

    </div>

    <div class="body-c-h-c" *ngIf="!cursos.length">
      No hay libros
    </div>
    <div class="body-c-h-c" *ngIf="cursos.length">
      <div class="title-body-chc">
        <P>Tus elementos recientes ( {{cursos.length}} )</P>
      </div>

      <div class="row-body-chc">

        <div class="cover-test" *ngFor="let curso of cursos">
          <div class="cover-home" routerLink="constructor-layout">
            <div class="cover-home-image" [ngStyle]="{'backgroundImage': 'url(' + getCover(curso.portadaUrl) + ')'}"></div>
          </div>
          <div class="desc-cover-home">
            <span class="title-dch">{{curso.titulo}}</span>
            <span class="descp-dch">Primero</span>
            <span (click)="deleteCourse(curso.id)">x</span>
          </div>
        </div>

      </div>

    </div>

    <div class="footer-c-h-c">
      <div class="button-create-new" routerLink="course-configuration">
        Crear
      </div>
    </div>




  </div>

</div>
