<div class="main-container-br">

  <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'ROLE_USER'" class="window-br">

    <div class="window-br-header">
      <div class="r1">
        <div class="logo-create"></div>
      </div>
      <div class="r2">
        <div class="c1">
          <div class="button-hc"><div class="icon icn-support"></div>Soporte</div>
          <div class="button-hc"><div class="icon icn-tutto"></div>Ayuda</div>
        </div>
      </div>

    </div>

    <div class="window-br-body-topbar">
      <p>Cantidad de cursos ( {{cursos.length}} )</p>
      <div class="row-wbr-bt" *ngIf="cursos.length">
        <p>Tus elementos recientes ( {{cursos.length}} )</p>
      </div>
    </div>

    <div class="window-br-body" *ngIf="!cursos.length">
      <div class="container-br-message">
        <div class="br-message">
          <div class="brm-1"><div class="br-message-icon"></div></div>
          <div class="brm-2"><p>¡Hola! <br> Bienvenido a <span>Nimbus Constructor</span>.</p>
            <p>Para comenzar da click en el botón "Crear nuevo".</p>
          </div>
        </div>
      </div>
    </div>



    <div class="window-br-body" *ngIf="cursos.length">

      <div class="br-body-row">
        <div class="course-cover-br" *ngFor="let curso of cursos">
          <div class="course-cover-br-margin" routerLink="constructor-layout">
            <img class="course-cover-br-image" [src]="curso.sanitizedPortadaUrl" alt="" *ngIf="curso.sanitizedPortadaUrl">
          </div>

          <div (click)="deleteCourse(curso.id)" class="delete-course-br"></div>

          <div class="course-desc-br-row">
            <span class="title-course-br">{{curso.titulo.length > 40 ? curso.titulo.substring(1, 40) + "..." : curso.titulo}}</span>
            <span class="desc-course-br">Primero</span>
          </div>
        </div>
      </div>

    </div>

    <div class="window-br-footer">
      <button routerLink="course-configuration" class="main-btn btn-color-1">Crear nuevo</button>
    </div>

  </div>

</div>
