<div class="template-c-component">
  <div class="c-component-title"><p>Template gallery</p></div>
  <div class="menu-template">
    <div
      [ngClass]="{'active-mt': filter.selected}"
      class="item-mt"
      *ngFor="let filter of filters; let index = index;"
      (click)="filterTemplates(filter)">
      <span>{{filter.text}}</span>
    </div>
  </div>

  <div class="c-component-content">
    <div class="row-mini-gallery">
      <div *ngFor="let template of filteredTemplates; let index = index;">
        <div class="template-mini"
        [ngClass]="{'ab-mini-select': selectedContentBlockIndex == index}"
        [style.backgroundImage]="'url(' + template.iconPath + ')'"
        (click)="selectContentBlock(index)">
        </div>
      </div>
    </div>

  </div>
</div>
