@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import 'variables.scss';

// @charset "UTF-8";
/*Import font*/
// Global Styles
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: $background-color-light !important;
  margin: 0 !important;
  // font-size: 14px !important;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
/* Font styles */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  font-weight: 600;
  font-style: normal;
  color: #283d8e;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 600;
  font-style: normal;
  color: #28064d;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #003170;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #4a5161;
}
p {
  /* display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #7a7a7a;
  line-height: 24px;
}
strong {
  font-weight: 700;
}

#grid-main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  #grid-work-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    // min-height: 800px;
  }
}

// Text editor component
#component-text-row {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#component-text-row .ng-pristine {
  width: 100%;
  height: 100%;
  position: relative;
}
#component-text-row .ng-pristine .angular-editor {
  position: relative;
  width: 100% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#component-text-row .ng-valid {
  width: 100%;
}
.angular-editor-wrapper {
  position: relative;
  height: 160px !important;
  width: 100% !important;
  overflow-y: scroll;
}
.angular-editor .angular-editor-wrapper .angular-editor-textarea {
  position: relative !important;
  border: 0px !important;
  background-color: none !important;
  width: 100% !important;
  height: auto !important;
  padding: 0 !important;
  resize: none !important;
  padding: 15px !important;
}

.angular-editor-textarea:after {
  width: 0 !important;
  height: 0 !important;
  cursor: default !important;
  background-color: transparent !important;
  resize: none !important;
}
*:focus {
  outline: none;
}
.angular-editor .angular-editor-wrapper .angular-editor-placeholder {
  padding: 15px !important;
}
.angular-editor-textarea {
  margin-top: 0px !important;
}
// Tool bar text
.angular-editor-toolbar {
  background-color: $tool-header !important;
  width: 100% !important;
  height: 40px !important;
  position: relative !important;
  padding: 0 !important;
  border: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.angular-editor-toolbar .angular-editor-toolbar-set {
  position: relative !important;
  // margin-right: 10px !important;
  width: auto;
  height: auto;
}
// Arrows undo
.angular-editor-toolbar-set:nth-child(1) {
  margin-right: 0 !important;
  width: auto;
  height: auto;
  position: absolute !important;
  right: 15px;
}
.angular-editor-toolbar-set:nth-child(1) .angular-editor-button {
  margin-left: 10px !important;
}
// Font styles Bold Italic Underline
.angular-editor-toolbar-set:nth-child(2) {
  order: 1;
}
// Font style
.angular-editor-toolbar-set:nth-child(6) {
  order: 3;
  margin-left: 10px;
}
// Font family
.angular-editor-toolbar-set:nth-child(7) {
  display: none !important;
}
// Font size
.angular-editor-toolbar-set:nth-child(8) {
  order: 4;
  margin-left: 10px;
}
.angular-editor-toolbar-set .select-font-size span button {
  min-width: 50px !important;
}
// Color text
.angular-editor-toolbar-set:nth-child(9) {
  order: 2;
  margin-left: 10px;
}
// Clear text
.angular-editor-toolbar-set:nth-child(10) {
  // border: 1px solid purple !important;
  // order: 5;
  // margin-left: 10px;
  display: none !important;
}
// Clear formating Remove
.angular-editor-toolbar-set:nth-child(12) {
  // display: none !important;
  order: 5;
  margin-left: 10px;
}
// Code
.angular-editor-toolbar-set:nth-child(13) {
  display: none !important;
}

.angular-editor-toolbar-set:nth-child(2) .angular-editor-button {
  margin-right: 10px !important;
}

// Icons tool set
.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button {
  background-color: rgba(255, 255, 255, 0) !important;
  vertical-align: middle;
  border: 0px !important;
  padding: 0rem !important;
  min-width: 0rem !important;
  float: none !important;
  width: 25px !important;
  height: 25px !important;
  transition: 0.4s;
}
.angular-editor-toolbar .angular-editor-toolbar-set .angular-editor-button:hover {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.fa-bold {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/tb_bold_icn.svg');
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
.fa-bold:before {
  content: '' !important;
}
.fa-italic {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/tb_italic_icn.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.fa-italic:before {
  content: '' !important;
}
.fa-underline {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/tb_underline_icn.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.fa-underline:before {
  content: '' !important;
}
.fa-undo {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/tb_repeat_icn.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.fa-undo:before {
  content: '' !important;
}
.fa-repeat {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/tb_undo_icn.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.fa-repeat:before {
  content: '' !important;
}
.fa-font {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/tb_font-color_icn.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.fa-font:before {
  content: '' !important;
}
// Select button
.ae-font .ae-picker-label {
  height: 25px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: auto !important;
  min-width: 90px !important;
  float: none !important;
  border: 0px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 0 !important;
  transition: 0.4s;
}
.ae-font .ae-picker-label:before {
  background: url('../images/arrow_user_icn.svg') !important;
  background-position: center !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  width: 10px !important;
  height: 10px !important;
  top: 7px !important;
  right: 4px !important;
}
.ae-font .ae-picker-label svg {
  position: absolute;
  margin-top: 0 !important;
  right: 0 !important;
  top: 0px !important;
  width: 0 !important;
}

// Font color
.angular-editor-toolbar-set #backgroundColorPicker- {
  display: none !important;
}
.fa-font:after {
  position: absolute;
  content: '';
  left: 0px !important;
  top: 0 !important;
  bottom: 0 !important;
  right: auto;
  width: 0 !important;
  height: 0 !important;
  z-index: 0;
  display: none !important;
}
// Remove style
.fa-remove {
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../images/tb_remove_icn.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.fa-remove:before {
  content: '' !important;
}

// Modal Login
.modal-dialog {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  pointer-events: none;
}
.modal-content {
  position: relative;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: initial !important;
  width: 100% !important;
  height: 100vh !important;
  pointer-events: auto;
  // background-color: rgba(16, 18, 51, 0.9) !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  background-clip: initial !important;
  border: none !important;
  border-radius: 0 !important;
  outline: 0;
}
@media only screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 100% !important;
    margin: 0 !important;
  }
}

.modal-login-container {
  position: relative;
  width: 550px;
  height: 600px;
  margin: 0 auto;
  background-color: #fefefe;
  border-radius: 8px;

  .modal-login-header {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    .row-modal-login-header {
      position: relative;
      width: 94%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .rmlh-2 {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .btn-close-modal-login {
    position: relative;
    margin-top: 12px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgba(60, 60, 60, 0);
    cursor: pointer;
    border: 0;
    outline: none;
    background-image: url('../images/icon_close_modal.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    transition: 0.4s;
    &:hover {
      background-color: rgba(60, 60, 60, 0.1);
    }
  }

  .modal-login-body {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .row-modal-login-modal {
      position: relative;
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo-login-modal {
        position: relative;
        width: 170px;
        height: 120px;
        background-image: url('../images/logo_login.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      .col-form-login {
        position: relative;
        width: 320px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
          position: relative;
          width: 100%;
          height: auto;

          .form-group {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label {
              color: #1c2447;
              position: relative;
              width: auto;
              height: auto;
              margin-left: 10px;
            }
            input {
              position: relative;
              width: 100%;
              height: 40px;
              background-color: white;
              border: 0;
              border-radius: 16px;
              border: 2px solid $input-border-light;
              outline: none;
              padding-left: 40px;
              &:focus {
                outline: none !important;
                border-color: $input-border-color;
                box-shadow: 0 0 10px transparent;
              }
              &::placeholder {
                color: #b0b0b0;
                font-size: 13px;
                position: relative;
                left: 4px;
                top: 4px;
              }
            }
          }
        }
      }
    }
  }
}

.icon-form-login {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.icnf-f-l1 {
  background-image: url('../images/icn_login_user.svg');
}
.icnf-f-l2 {
  background-image: url('../images/icn_login_pass.svg');
}

.row-modal-l-check {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  .rmlc-1 {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-start;

    .form-check-label {
      position: relative;
      width: auto;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      &:hover > span {
        color: $a-hover !important;
      }

      input.form-check-input {
        position: relative;
        width: 16px;
        height: 16px;
        margin-left: 0;
        display: flex;
        align-items: center;
        top: -2px;
      }
      span {
        position: relative;
        width: auto;
        height: auto;
        color: $secondary-btn-color;
        font-weight: 600;
        font-size: 14px;
        margin-left: 4px;
        transition: 0.3s;
      }
    }
  }
  .rmlc-2 {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;

    a {
      position: relative;
      width: auto;
      height: auto;
      font-size: 14px;
      cursor: pointer;
      color: $secondary-btn-color;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        color: $a-hover;
      }
    }
  }
}

.row-cfl-register {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  span {
    margin-right: 5px;
  }
  a {
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    cursor: pointer;
    color: $secondary-btn-color;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      color: $a-hover;
    }
  }
}

// btn Login
.row-btn-login-modal {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
// Main button style
.main-btn {
  position: relative;
  width: auto;
  height: 34px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  padding-left: 18px;
  padding-right: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 18px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    // background-image: linear-gradient(to right, #0083c5, #0083c5) !important;
    transform: scale(0.99);
  }
}
.main-btn.btn-color-1 {
  background-image: linear-gradient(to right, #00ceff, #00b1ff, #00b1ff, #0083c5);
  box-shadow: 0 20px 30px rgba(16, 18, 51, 0.1), 0 6px 18px rgba(16, 18, 51, 0.12);
}
.main-btn.disabled,
.main-btn:disabled {
  opacity: 0.7;
  pointer-events: none;
  box-shadow: none !important;
}
.btn-navbar {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: none;
}
// Secondary button
.secondary-btn {
  position: relative;
  width: auto;
  height: 34px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $secondary-btn-color;
  border-radius: 18px;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 30px rgba(16, 18, 51, 0.1), 0 6px 18px rgba(16, 18, 51, 0.12);

  &:hover {
    background-color: $secondary-btn-hover;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    transform: scale(0.99);
  }
}
// Status Button
.btn-status {
  position: relative;
  width: auto;
  height: 30px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    transform: scale(0.99);
  }
}
.bs-succes {
  background-color: $succes-color;
  box-shadow: 0 20px 30px rgba(76, 175, 80, 0.1), 0 6px 18px rgba(76, 175, 80, 0.12);
  &:hover {
    background-color: #347d37;
  }
}
.bs-danger {
  background-color: $alert-color;
  box-shadow: 0 20px 30px rgba(230, 26, 52, 0.1), 0 6px 18px rgba(230, 26, 52, 0.12);
  &:hover {
    background-color: $alert-hover-color;
  }
}
.btn-status.disabled,
.btn-status:disabled {
  opacity: 0.7;
  pointer-events: none;
  box-shadow: none;
}
// Button Icon
// Secondary button
.icon-btn {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.icn-um-1 {
  background-image: url('../images/icn_add.svg');
  background-size: 100%;
}
// Circle button
.btn-circle {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: $a-color;
  border: 0;
  outline: none;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  &:hover {
    background-color: $secondary-btn-hover;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
    transform: scale(0.99);
  }
}
.btn-circle-um1 {
  background-image: url('../images/icn_view_white.svg');
}
.btn-circle-um2 {
  background-image: url('../images/icn_edit_white.svg');
}
.btn-circle-um3 {
  background-image: url('../images/icn_delete_white.svg');
  background-color: $alert-color;
  &:hover {
    background-color: $alert-hover-color;
  }
}

// Alerts
.alert-login {
  position: absolute;
  top: 51px;
  left: 0px;
  background-color: $alert-color;
  width: 100%;
  height: 40px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .row-alert-login {
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .icn-al {
      position: relative;
      width: 20px;
      height: 20px;
      background-image: url('../images/icn_alert.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    span {
      font-size: 13px;
      color: white;
      margin-left: 10px;
    }
  }
}

.alert-input {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  // perspective: 1000px;
  border: 2px solid $alert-color !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

// Course Configuration
.main-container-br {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-color: $background-color-blue;
  display: flex;
  justify-content: center;
  background-image: url('../images/bg2.png');
  background-position: center;
  background-size: 1800px;
  background-repeat: no-repeat;
}

// Change backhround color input
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 1px solid green;
  // -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: white;
}

input::-webkit-input-placeholder {
  font-size: 14px !important;
  color: #aaa;
  transform: translate3d(0, -4px, 0);
}

// Window Cnfiguration Course
.form-window-configuration {
  position: relative;
  width: 100% !important;
  height: auto;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 30px;
}
.row-form-window-c {
  position: relative;
  width: 95%;
  height: auto;
  h2 {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600px;
    color: $nimbus-bluedark;
  }
}
.row-window-general {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;

  .row-wg {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .col-window-g {
      position: relative;
      width: 30%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
.rwg-header {
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;

  h2 {
    position: relative;
    width: auto;
    height: auto;
  }
  p {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 12;
    color: grey;
    text-align: right;
  }
}
// Form Nimbus
.form-nimbus {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .form-alert {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: -20px;
    left: 0;
    align-items: center;
    pointer-events: none;
    p {
      font-size: 12px;
      color: $alert-color;
      position: relative;
      cursor: default;
      margin-left: 6px;
    }
  }
  .show-form-alert {
    display: flex;
  }

  label {
    color: #1c2447;
    position: relative;
    width: auto;
    height: auto;
  }

  input {
    position: relative;
    width: 100%;
    height: 38px;
    background-color: white;
    border: 0;
    border-radius: 14px;
    border: 2px solid $input-border-light;
    outline: none;
    padding-left: 12px;
    transition: 0.3s;
    &:hover {
      border-color: $input-border-hover;
    }
    &:focus {
      outline: none !important;
      border-color: $input-border-focus;
      box-shadow: 0 0 10px transparent;
    }
    &::placeholder {
      color: #b0b0b0;
      font-size: 13px;
      position: relative;
      left: 4px;
      top: 4px;
    }
  }

  select {
    position: relative;
    width: 100%;
    height: 38px !important;
    background-color: white;
    border: 0;
    border-radius: 16px !important;
    border: 2px solid $input-border-light;
    outline: none;
    transition: 0.3s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-left: 12px;

    &:hover {
      border-color: $input-border-hover;
    }
    &:focus {
      outline: none !important;
      border-color: $input-border-focus;
      box-shadow: 0 0 10px transparent;
    }
  }
}

// Form Nimbus User management Profile
.form-nimbus-profile {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .form-alert {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: -20px;
    left: 0;
    align-items: center;
    pointer-events: none;
    p {
      font-size: 12px;
      color: $alert-color;
      position: relative;
      cursor: default;
      margin-left: 6px;
    }
  }
  .show-form-alert {
    display: flex;
  }

  label {
    color: #1c2447;
    position: relative;
    width: auto;
    height: auto;
  }

  select {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    border: 0;
    border-radius: 14px;
    border: 2px solid $input-border-light;
    outline: none;
    padding-left: 12px;
    transition: 0.3s;
    &:hover {
      border-color: $input-border-hover;
    }
    &:focus {
      outline: none !important;
      border-color: $input-border-focus;
      box-shadow: 0 0 10px transparent;
    }
  }
}

.selectWrap {
  position: relative;
}
.selectWrap:after {
  content: '';
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url('../images/arrow_user_icn.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.margintop-25 {
  margin-top: 30px;
}

// Cover Configuration
.cover-upload-c {
  position: relative;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;

  label {
    position: relative;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0;
  }

  .cover-upload-img-row {
    position: relative;
    width: 100%;
    height: auto;
    border: 2px solid $input-border-light;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    &:hover .cover-path-area div .cover-upload-img {
      box-shadow: 0 8px 28px rgba(0, 0, 0, 0.12), 0 6px 12px rgba(0, 0, 0, 0.12);
    }
    &:hover .cover-path-area div .cover-empty-img {
      box-shadow: 0 8px 28px rgba(0, 0, 0, 0.12), 0 6px 12px rgba(0, 0, 0, 0.12);
    }

    .cover-path-area {
      position: relative;
      width: 100%;
      height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: auto;
        height: auto;
        position: relative;

        .cover-upload-img {
          position: relative;
          width: 200px;
          height: 133px;
          border-radius: 8px;
          transition: 0.3s;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
        }
        .cover-empty-img {
          position: relative;
          width: 200px;
          height: 133px;
          border-radius: 8px;
          background-color: white;
          background-image: url('../images/cover_upload.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          transition: 0.3s;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
        }
      }
    }
    .row-uic {
      position: relative;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      button:nth-child(2) {
        margin-left: 20px;
      }
    }
  }
}

.text-transform-none {
  text-transform: none;
}

// Avanzado
.row-colaboradores {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 25px;
}

// Colaboradores
.container-colaboradores {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  .col-editorial {
    position: relative;
    width: 30%;
    height: auto;
  }
}
// Colaboradores
.col-colaboradores {
  position: relative;
  width: 65%;
  height: auto;

  label {
    position: relative;
    width: 100%;
    height: auto;
  }
}
.area-colaboradores {
  position: relative;
  width: 100%;
  height: auto;
}
.search-field-colaboradores {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 50px;
  word-wrap: break-word;
  border: 0;
  border-radius: 4px;
  padding: 6px;
  display: inline-block;
  border: 2px solid $input-border-light;
}
.search-tag-colaborador {
  position: relative;
  width: auto;
  height: 30px;
  float: left;
  display: inline-block;
  border-radius: 16px;
  background-color: white;
  color: white;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: 2px solid $input-border-light;
  &:hover {
    border-color: $input-border-hover;
  }
  &:focus {
    border-color: $input-border-hover;
  }

  span {
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-left: 10px;
    background-image: url('../images/icn_add_mini.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  input {
    position: relative;
    width: auto;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 13px;
    color: $nimbus-bluedark;
    margin-right: 10px;
    border: 0;
    outline: none;
  }
}

.selected-option {
  position: relative;
  width: auto;
  height: 30px;
  float: left;
  display: inline-block;
  border-radius: 16px;
  background-color: #1a3d82;
  color: white;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: relative;
    width: auto;
    height: auto;
    font-size: 13px;
    color: white;
    margin-left: 10px;
    margin-right: 8px;
  }
  a {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    transition: 0.3s;
    background-image: url('../images/icn_delete_tagwhite.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.auto-complete {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 200px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow-y: auto;
}
.suggestion-list {
  position: relative;
  width: 100%;
  height: auto;
  list-style-type: none;
}
.suggestion-item {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: $nimbus-bluedark;
  position: relative;
  width: 100%;
  height: auto;
  // border-bottom: 1px solid $window-divider-color;
  padding: 5px;
  padding-left: 10px;
  transition: 0.3s;
  &:hover {
    background-color: #f4f4f4;
  }
}
ol,
ul,
dl {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.input-group-append {
}
.btn-calendar-select {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: $secondary-btn-color;
  border: 0;
  outline: none;
  border-radius: 0 14px 14px 0;
  transition: 0.4s;
  box-shadow: 0;
  background-image: url('../images/icn_calendar.svg');
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  &:hover {
    background-color: $secondary-btn-hover;
  }
  &:focus {
    outline: none;
    box-shadow: 0;
  }
  &:active {
    outline: none;
    box-shadow: 0;
  }
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.alert-test {
  background-color: orange !important;
  border: 2px solid blue !important;
}
// Generales
.row-generales {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .rg-col-1 {
    position: relative;
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .rgc-row {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .rgc-item {
        position: relative;
        height: auto;
        width: 46%;
      }
    }
  }
  .rg-col-2 {
    position: relative;
    width: 30%;
    height: auto;
  }
}

// Calendar conf
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: white;
  background-clip: padding-box;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(16, 18, 51, 0.1), 0 6px 18px rgba(16, 18, 51, 0.12);
}
.ngb-dp-header {
  border-radius: 10px 10px 0 0 !important;
  padding-top: 12px !important;
  padding-bottom: 5px !important;
  background-color: $nimbus-bluedark !important;

  select {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.ngb-dp-weekdays {
  // border-bottom: 1px solid rgba(0,0,0,.125);
  border-bottom: 0;
  background-color: $nimbus-bluedark !important;
}
.btn-link {
  color: white !important;
  font-size: 12px !important;
  line-height: 4px !important;
}
.btn-link {
  cursor: pointer;
  outline: none !important;
  border: none !important;

  &:hover {
    background-color: $secondary-btn-hover;
  }
  &:focus {
    outline: none !important;
    border: none !important;
  }
  &:active {
    outline: none !important;
    transform: scale(0.99);
  }
}
.ngb-dp-weekday {
  color: white !important;
  cursor: default !important;
}
.ngb-dp-week-number,
.ngb-dp-weekday {
  font-style: normal !important;
}

// Register
.container-register {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 45px;
  display: flex;
  justify-content: center;

  .bg-container-registrer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: $blue-nimbus-dark;
    z-index: 1;
    background-image: url('../images/header_register.png');
    background-position: right;
    background-size: 600px;
    background-repeat: no-repeat;

    .svg-curve-register {
      position: absolute;
      top: 198px;
    }
    .wrap-register {
      fill: $blue-nimbus-dark;
      // fill: $background-color-light;
    }
  }

  .row-register {
    position: relative;
    width: 98%;
    max-width: 900px;
    // max-width: 1150px;
    height: auto;
    margin-top: 40px;
    background-color: white;
    border-radius: 12px;
    z-index: 2;
    box-shadow: 0 -4px 30px rgba(33, 36, 66, 0.02), 0 17px 30px rgba(33, 36, 66, 0.05);

    .heder-register {
      position: relative;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-register {
        position: relative;
        width: 70px;
        height: 60px;
        margin-right: 20px;
        background-image: url('../images/logo_register.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      h2 {
        position: relative;
        width: auto;
        height: auto;
        font-size: 24px;
        color: $nimbus-bluedark;
      }
    }

    .form-register {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .row-form-register {
        position: relative;
        width: 80%;
        height: auto;
      }

      .row-conditions-register {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 80px;

        p {
          font-size: 13px;
          color: #8e928f;
          padding-top: 10px;
          padding-bottom: 10px;

          span {
            color: $a-color;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: $a-hover;
            }
          }
        }
      }

      .row-btn-register {
        position: relative;
        width: 100%;
        height: 80px;
        background-color: white;
        border-top: 1px solid $window-divider-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        border-radius: 0 0 12px 12px;
      }
    }
  }
}
.item-divider-form {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  &:nth-child(2) {
    margin-top: 50px;
  }

  .col-form-register {
    position: relative;
    width: 45%;
    height: auto;
  }
}

// Logo Svg prueba animación
// .logo-test {
//   position: relative;
//   width: 70px;
//   height: 60px;
//   margin-right: 20px;
//   cursor: pointer;
// }
// .st0{fill: $blue-nimbus-dark;}
// .st1 {
//   fill: rgb(24, 199, 251);
//   fill: linear-gradient(90deg, rgba(24, 199, 251, 1) 0%, rgba(21, 169, 250, 1) 100%);
// }
// .st2{fill: $blue-nimbus-dark; opacity: .4;}
// Fin Logo Svg prueba animación

// Alert Register form
.alert-register-input {
  position: absolute;
  bottom: -44px;
  left: 0;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  small {
    position: relative;
    width: auto;
    height: auto;
    font-size: 13px;
    line-height: 16px;
    color: $alert-color;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.pass-register-security {
  position: absolute;
  width: 100%;
  height: auto;
  top: 100px;
  left: 0;
}
.termporary-message-register {
  position: absolute;
  width: 420px;
  height: 80px;
  bottom: -100px;
  left: 50%;
  margin-left: -210px;
  span {
    position: relative;
    width: auto;
    height: auto;
    font-size: 12px;
    color: grey;
    line-height: 8px !important;
  }
  a {
    position: relative;
    width: auto;
    height: auto;
    font-size: 13px;
    transition: 0.3s;
    cursor: pointer;
    color: $a-color;
    &:hover {
      color: $a-hover;
    }
  }
}

// Admin users
.container-user-management {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header-um {
    position: relative;
    width: 100%;
    height: 80px;
    // background-color: $window-divider-color;
    background-color: $blue-nimbus-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/header_um.png');
    background-position: right;
    background-size: 500px;
    background-repeat: no-repeat;

    .row-header-um {
      position: relative;
      width: 96%;
      height: auto;
      max-width: 1300px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title-um {
        position: relative;
        width: auto;
        height: auto;
        h2 {
          cursor: default;
          color: white;
          position: relative;
          width: auto;
          height: auto;
          font-size: 22px;
          font-weight: 600;
        }
      }
      .buttons-um {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;

        .total-users-um {
          position: relative;
          width: auto;
          height: 50px;
          margin-right: 80px;
          display: flex;
          justify-content: center;
          .i1 {
            position: relative;
            width: 50px;
            height: 50px;
            background-image: url('../images/icn_users_white.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80%;
            margin-right: 10px;
          }
          .i2 {
            position: relative;
            width: 90px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            span {
              position: relative;
              width: auto;
              height: auto;
              color: white;
              padding: 0;
              // &:nth-child(1) {
              //   font-size: 13px;
              //   font-weight: 600;
              //   height: 15px;
              // }
              &:nth-child(1) {
                font-size: 26px !important;
                font-weight: 400;
                color: #18c7fb;
                height: 26px;
                padding: 0;
                line-height: 26px;
                div {
                  position: absolute;
                  font-size: 13px;
                  color: white;
                  top: 2px;
                  right: -60px;
                }
              }
            }
          }
        }
      }
    }
  }

  .row-um {
    position: relative;
    width: 96%;
    max-width: 1300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
// Titles

.footer-um {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  .row-fum-text {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 14px;
    color: $blue-nimbus;
  }
  .row-fum-pagination {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}
// Pagination
.pagination {
  border-radius: 0;
  position: relative;
  width: auto;
  height: auto;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $blue-nimbus;
  border-color: #3e8acc;
}
.page-link {
  position: relative;
  display: flex;
  padding: 0;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  border: 0;
  border-radius: 8px;
  color: $blue-nimbus;
  background-color: white;
  font-size: 18px;
}

.page-item.disabled .page-link {
  color: $blue-nimbus;
  pointer-events: none;
  cursor: auto;
  opacity: 0.6;
  background-color: #fff;
  border-color: #dee2e6;
}
.body-um {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  overflow-x: visible;
  @include table {
    overflow-x: scroll;
  }
}
.table-um {
  position: relative;
  width: 100%;
  min-width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.thead-um {
  position: relative;
  width: 100%;
  height: auto;
  tr {
    position: relative;
    width: 100%;
    height: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    th {
      position: relative;
      width: auto;
      height: auto;
      border: 0;
      font-size: 14px;
      color: $blue-nimbus-dark;
      text-align: center;
      &:nth-child(1) {
        width: 5%;
      }
      &:nth-child(2) {
        width: 11%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 8%;
      }
      &:nth-child(5) {
        width: 6%;
      }
      &:nth-child(6) {
        width: 10%;
      }
      &:nth-child(7) {
        width: 8%;
      }
      &:nth-child(8) {
        width: 11%;
      }
      &:nth-child(9) {
        width: 11%;
      }
      &:nth-child(10) {
        width: 15%;
      }
      span {
        font-weight: 600;
        cursor: default;
      }
    }
  }
}
.tbody-um {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .tr-um {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 60px;
    background-color: white;
    margin-top: 15px;
    border-radius: 8px;
    // border: 2px solid $window-divider-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0 20px 30px rgba(16, 18, 51, 0.1), 0 6px 18px rgba(16, 18, 51, 0.12);
    &:nth-child(1) {
      margin-top: 0;
    }

    td {
      padding: 0;
      position: relative;
      width: auto;
      height: auto;
      vertical-align: middle;
      border-top: 0;
      font-size: 14px;
      text-align: center;
      &:nth-child(1) {
        width: 5%;
        a {
          color: $a-color;
        }
      }
      &:nth-child(2) {
        width: 11%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 8%;
        button {
          margin: 0 auto;
        }
      }
      &:nth-child(5) {
        width: 6%;
      }
      &:nth-child(6) {
        width: 10%;
      }
      &:nth-child(7) {
        width: 8%;
      }
      &:nth-child(8) {
        width: 11%;
      }
      &:nth-child(9) {
        width: 11%;
      }
      &:nth-child(10) {
        width: 15%;
      }
    }
  }
}
td {
  div {
    .badge-info {
      color: $blue-nimbus;
      background-color: $window-divider-color;
    }
  }
}
.row-btn-title-um {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 600;
  }
}
.um-row-buttons {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    &:nth-child(2) {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
}
// Create or edit user
.row-um-create {
  position: relative;
  width: 96%;
  max-width: 1300px;
  height: auto;
  margin-top: 20px;
  form {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .row-form-um-create {
      width: 100%;
      height: auto;
      position: relative;
      // border: 1px solid red;
    }

    .footer-um-create {
      position: relative;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid $window-divider-color;
      margin-top: 40px;
      button:nth-child(1) {
        margin-right: 40px;
      }
    }
  }
}
.row-col-form-um {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &:nth-child(3) {
    margin-top: 60px;
  }
  .col-fum {
    position: relative;
    width: 30%;
    height: auto;
  }
}
