// Colors
$blue-nimbus-dark: #1a3d82;
$blue-nimbus-light: #18bafb;
$blue-darkness: #171a40;
// Background
$navbar-light: white;
$background-color-light: #f9fafb;
$bg-white: #ffffff;
$navbar-light: #ffffff;
$background-color-blue: #101233;
$background-workspace: #bac4d9;
$color-workspace: #f9f9f9;
// Text
$text-color: #7a7a7a;
// A href
$a-color-nd: #1a3d82;
$a-color-nd-hover: #3e66b5;
$a-color-nl: #18bafb;
$a-color-nl-hover: #10a3de;
// Buttons
$main-btn-color: #1a3d82;
$main-btn-color-hover: #3e66b5;
$secondary-btn-color: #18bafb;
$secondary-btn-hover: #10a3de;
$btn-text-white: white;
$btn-white-hover: #f4f5f7;
// Alerts
$alert-color: #e61a34;
$alert-hover-color: #bf0f26;
$succes-color: #4caf50;
$badge-color: #607d8b;
// Icons
$icon-main-color: #1a3d82;
$icon-secondary-color: #15a9fa;
// Form
$label-color: #1c2447;
$input-color: white;
$input-border-focus: #577ec9;
$input-border-light: lighten($input-border-focus, 35%);
$input-border-hover: lighten($input-border-focus, 20%);
// Window
$window-header-color: white;
$window-body-color: #f9f9f9;
$window-footer-color: white;
$window-divider-color: #e7e8ed;
$footer-bg-color: #f4f5f7;
$border-component: gainsboro;
// Layout
$bordercolor-block: #ccd7dc;
$color-sidebar: #ffffff;
$tool-header: #e2e4e9;

// Size
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width: 1200px;

// Mixin
@mixin smartphone {
  @media (min-width: 0px) and (max-width: 600px) {
    @content;
  }
}
@mixin smartphone1 {
  @media (min-width: 601px) and (max-width: 800px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 801px) and (max-width: 1200px) {
    @content;
  }
}

@mixin covers-xl {
  @media screen and (min-width: 1240px) {
    @content;
  }
}
@mixin covers-l {
  @media (min-width: 1115px) and (max-width: 1239px) {
    @content;
  }
}
@mixin covers-ml {
  @media (min-width: 900px) and (max-width: 1114px) {
    @content;
  }
}
@mixin table {
  @media (min-width: 0px) and (max-width: 1000px) {
    @content;
  }
}
