<div class="container-user-management">
  <!-- Header -->
  <div class="header-um">
    <div class="row-header-um">
      <div class="title-um">
        <h2 jhiTranslate="reset.request.title">Reset your password</h2>
      </div>
    </div>
  </div>

  <div class="row-um-create">

    <!-- Alerts -->
    <div class="row-alert">

      <div class="alert alert-danger alert-danger-register alert-pass-reset"  *ngIf="errorEmailNotExists">
        <div class="icn-danger"></div>
        <p jhiTranslate="reset.request.messages.notfound"><strong>Email address isn't registered!</strong> Please check and try again.</p>
      </div>

      <div [class]="!error ? 'd-none' : null">
          <jhi-alert-error></jhi-alert-error>
      </div>

      <div class="alert alert-success alert-success-register" *ngIf="success">
        <div class="icn-success"></div>
        <p jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</p>
      </div>


    </div>

    <!-- <div class="alert alert-danger" jhiTranslate="reset.request.messages.notfound" *ngIf="errorEmailNotExists">
        <strong>Email address isn't registered!</strong> Please check and try again.
    </div>

    <div [class]="!error ? 'd-none' : null">
        <jhi-alert-error></jhi-alert-error>
    </div>

    <div class="alert alert-warning" *ngIf="!success">
        <p jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</p>
    </div>

    <div class="alert alert-success" *ngIf="success">
        <p jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</p>
    </div> -->

    <div class="row-message-pass">
      <p jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</p>
    </div>


      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="row-form-um-create">
          <!-- Row 1 -->
          <div class="row-col-form-um">
            <!-- Col 1 -->
            <div class="col-fum">
              <div class="form-nimbus">
                <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                formControlName="email" #email>
                <div *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)" class="alert-pass-input">
                    <small
                    *ngIf="resetRequestForm.get('email')?.errors?.required" jhiTranslate="global.messages.validate.email.required">
                      Your email is required.
                    </small>
                    <small
                    *ngIf="resetRequestForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid">
                      Your email is invalid.
                    </small>
                   <small
                    *ngIf="resetRequestForm.get('email')?.errors?.minlength" jhiTranslate="global.messages.validate.email.minlength">
                      Your email is required to be at least 5 characters.
                    </small>
                    <small
                    *ngIf="resetRequestForm.get('email')?.errors?.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                      Your email cannot be longer than 100 characters.
                    </small>
                </div>
              </div>
            </div>
            <div class="col-fum"></div>
            <div class="col-fum"></div>
          </div>

        </div>
          <!-- <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" jhiTranslate="reset.request.form.button">Reset</button> -->
          <div class="row-footer-button">
            <button type="submit" [disabled]="resetRequestForm.invalid" class="main-btn btn-color-1" jhiTranslate="reset.request.form.button">Reset</button>
          </div>

      </form>


  </div>
</div>
