
<div class="modal-login-container">

  <!-- <div class="modal-header modal-header-test"> -->
  <!-- <div class="modal-header"> -->
    <div class="modal-login-header">
      <div class="row-modal-login-header">
        <div class="mark-login-modal"></div>
        <div class="rmlh-1">
          <!-- <h4 class="" jhiTranslate="login.title">Login</h4> -->
          <h4>Login</h4>
          <h4 class="tab-login-disabled">Registrar</h4>
        </div>
        <div class="rmlh-2">
          <button aria-label="Close" data-dismiss="modal" class="btn-close-modal-login" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true"></span></button>
        </div>
      </div>
    </div>

    <!-- Anuncio contraseña equivocada -->
    <!-- <div class="alert-login" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication"> -->
    <div class="alert-login" *ngIf="authenticationError">
      <div class="row-alert-login">
        <div class="icn-al"></div>
        <!-- <span><strong>Failed to sign in!</strong> Please check your creden.</span> -->
        <span>¡Error de autentificación! Por favor revisa tus credenciales.</span>
      </div>
    </div>

  <!-- <div class="modal-body"> -->
  <div class="modal-login-body">
      <div class="row-modal-login-modal">

          <div class="logo-login-modal"></div>

          <div class="col-form-login">

              <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                  <div class="form-group">
                      <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
                      <input type="text" class="" name="username" id="username"
                             formControlName="username" #username>
                      <div class="icon-form-login icnf-f-l1"></div>
                  </div>
                  <div class="form-group">
                      <label for="password" jhiTranslate="login.form.password">Password</label>
                      <!-- Agregar clase "alert-input" a input cuando el formulario tenga un error -->
                      <input type="password" class="" name="password" id="password"
                             formControlName="password">
                      <div class="icon-form-login icnf-f-l2"></div>
                  </div>

                  <!-- <div class="form-check"> -->
                  <div class="row-modal-l-check">
                    <div class="rmlc-1">
                      <label class="form-check-label" for="rememberMe">
                          <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                          <!-- <span jhiTranslate="login.form.rememberme">Remember me</span> -->
                          <span>Recuérdame</span>
                      </label>
                    </div>
                    <div class="rmlc-2">
                      <!-- <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a> -->
                      <a (click)="requestResetPassword()">Olvidé mi contraseña</a>
                    </div>
                  </div>

                  <div class="row-btn-login-modal">
                    <button type="submit" class="main-btn btn-color-1" jhiTranslate="login.form.button">Sign in</button>
                  </div>

                  <div class="row-btn-login-modal">
                    <!-- <button type="submit" class="btn-login-modal-test">Sign in</button> -->
                    <!-- <a href="#" class="btn-login-modal-test"><span>Click Me</span></a> -->
                  </div>



              </form>

            <div class="row-cfl-register">
              <span>¿Aún no tienes cuenta?</span>
              <!-- <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a> -->
              <a class="" (click)="register()" >Crear cuenta</a>
            </div>


          </div>
      </div>
  </div>

</div>
