
<div class="modal-login-container">

  <!-- <div class="modal-header modal-header-test"> -->
  <!-- <div class="modal-header"> -->
    <div class="modal-login-header">
      <div class="row-modal-login-header">
        <div class="mark-login-modal"></div>
        <div class="rmlh-1">
          <!-- <h4 class="" jhiTranslate="login.title">Login</h4> -->
          <h4>Login</h4>
          <h4 class="tab-login-disabled">Registrar</h4>
        </div>
        <div class="rmlh-2">
          <button aria-label="Close" data-dismiss="modal" class="btn-close-modal-login" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true"></span></button>
        </div>
      </div>
    </div>

  <!-- <div class="modal-body"> -->
  <div class="modal-login-body">
      <div class="row-modal-login-modal">

        <!-- Anuncio contraseña equivocada -->
          <!-- <div class="col-md-8">
              <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                  <strong>Failed to sign in!</strong> Please check your creden.
              </div>
          </div> -->

          <div class="logo-login-modal"></div>

          <div class="col-form-login">

              <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                  <div class="form-group">
                      <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
                      <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                             formControlName="username" #username>
                  </div>
                  <div class="form-group">
                      <label for="password" jhiTranslate="login.form.password">Password</label>
                      <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                             formControlName="password">
                  </div>

                  <!-- <div class="form-check"> -->
                  <div class="row-modal-l-check">
                    <div class="rmlc-1">
                      <label class="form-check-label" for="rememberMe">
                          <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                          <!-- <span jhiTranslate="login.form.rememberme">Remember me</span> -->
                          <span>Recuérdame</span>
                      </label>
                    </div>
                    <div class="rmlc-2">
                      <!-- <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a> -->
                      <a (click)="requestResetPassword()">Olvidé mi contraseña</a>
                    </div>
                  </div>

                  <div class="row-btn-login-modal">
                    <button type="submit" class="btn-login-modal" jhiTranslate="login.form.button">Sign in</button>
                  </div>

              </form>

            <div class="row-cfl-register">
              <span>¿Aún no tienes cuenta?</span>
              <!-- <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a> -->
              <a class="" (click)="register()" >Crear cuenta</a>
            </div>


          </div>
      </div>
  </div>

</div>
