<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" class="container-colaboradores">
          <!-- Alert -->
          <!-- <jhi-alert-error></jhi-alert-error> -->
  <!-- Colaboradores -->
  <div class="col-colaboradores">
    <label jhiTranslate="constructorApp.ficha.colaborador" for="field_colaboradors">Colaborador</label>
      <div class="area-colaboradores">

        <!-- Input y etiquetas -->
        <div class="search-field-colaboradores">
          <ul [hidden]="!selectedColaboradors.length">
            <li *ngFor="let colaborador of selectedColaboradors; let selectedIndex = index" class="selected-option">
              <span>{{colaborador.nombres + " " + colaborador.apellido1 + " " + colaborador.apellido2 + " - " + colaborador.rolColaborador}}</span>
              <a class="remove-button" (click)="removeTag(selectedIndex)"></a>
            </li>
          </ul>

          <div class="search-tag-colaborador">
            <span></span>
            <input type="text" #inputstring (keyup)="search(inputstring.value)">
          </div>


        </div>

        <!-- Opciones -->
        <div class="auto-complete" [hidden]="!foundColaboradors.length">
          <ul class="suggestion-list">
            <li class="suggestion-item" *ngFor="let colaborador of foundColaboradors; let foundIndex = index" (click)="addTag(foundIndex, colaborador);">{{colaborador.nombres + " " + colaborador.apellido1 + " " + colaborador.apellido2 + " - " + colaborador.rolColaborador}}</li>
          </ul>
        </div>

      </div>

  </div>

  <div class="col-editorial">
    <div class="form-nimbus">
        <label class="form-control-label" jhiTranslate="constructorApp.ficha.editorial" for="field_editorial">Editorial</label>
        <select class="form-control" id="field_editorial" name="editorial" formControlName="editorial">
            <option [ngValue]="null"></option>
            <option [ngValue]="editorialOption.id === editForm.get('editorial')!.value?.id ? editForm.get('editorial')!.value : editorialOption" *ngFor="let editorialOption of editorials; trackBy: trackById">{{editorialOption.id}}</option>
        </select>
    </div>
  </div>

</form>
